%block-text {
  font: {
    family: $font-secondary;
    weight: 500;
  }
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

%btn {
  display: inline-block;
  padding: $base-space;
  border-radius: $base-radius;
  background-color: c('back');
  text-align: center;

  &:hover {
    color: c('back');
  }
}
