/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-mds-h-name: 'icon-mds-h';
$icon-mds-h-x: 0px;
$icon-mds-h-y: 0px;
$icon-mds-h-offset-x: 0px;
$icon-mds-h-offset-y: 0px;
$icon-mds-h-width: 176px;
$icon-mds-h-height: 38px;
$icon-mds-h-total-width: 176px;
$icon-mds-h-total-height: 132px;
$icon-mds-h-image: '../img/sprite.png';
$icon-mds-h: (0px, 0px, 0px, 0px, 176px, 38px, 176px, 132px, '../img/sprite.png', 'icon-mds-h', );
$icon-mds-name: 'icon-mds';
$icon-mds-x: 0px;
$icon-mds-y: 38px;
$icon-mds-offset-x: 0px;
$icon-mds-offset-y: -38px;
$icon-mds-width: 176px;
$icon-mds-height: 38px;
$icon-mds-total-width: 176px;
$icon-mds-total-height: 132px;
$icon-mds-image: '../img/sprite.png';
$icon-mds: (0px, 38px, 0px, -38px, 176px, 38px, 176px, 132px, '../img/sprite.png', 'icon-mds', );
$icon-rbk-name: 'icon-rbk';
$icon-rbk-x: 0px;
$icon-rbk-y: 104px;
$icon-rbk-offset-x: 0px;
$icon-rbk-offset-y: -104px;
$icon-rbk-width: 66px;
$icon-rbk-height: 28px;
$icon-rbk-total-width: 176px;
$icon-rbk-total-height: 132px;
$icon-rbk-image: '../img/sprite.png';
$icon-rbk: (0px, 104px, 0px, -104px, 66px, 28px, 176px, 132px, '../img/sprite.png', 'icon-rbk', );
$icon-visa-name: 'icon-visa';
$icon-visa-x: 0px;
$icon-visa-y: 76px;
$icon-visa-offset-x: 0px;
$icon-visa-offset-y: -76px;
$icon-visa-width: 88px;
$icon-visa-height: 28px;
$icon-visa-total-width: 176px;
$icon-visa-total-height: 132px;
$icon-visa-image: '../img/sprite.png';
$icon-visa: (0px, 76px, 0px, -76px, 88px, 28px, 176px, 132px, '../img/sprite.png', 'icon-visa', );
$icon-yandex-money-name: 'icon-yandex-money';
$icon-yandex-money-x: 88px;
$icon-yandex-money-y: 76px;
$icon-yandex-money-offset-x: -88px;
$icon-yandex-money-offset-y: -76px;
$icon-yandex-money-width: 67px;
$icon-yandex-money-height: 28px;
$icon-yandex-money-total-width: 176px;
$icon-yandex-money-total-height: 132px;
$icon-yandex-money-image: '../img/sprite.png';
$icon-yandex-money: (88px, 76px, -88px, -76px, 67px, 28px, 176px, 132px, '../img/sprite.png', 'icon-yandex-money', );
$spritesheet-width: 176px;
$spritesheet-height: 132px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-mds-h, $icon-mds, $icon-rbk, $icon-visa, $icon-yandex-money, );
$spritesheet: (176px, 132px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
