// colors
$colors: (
  'front': #1f1f1f,
  'back': #fff,
  'neutral': #999,
  'shadow': #e6e6e6,
  'border': #d1d3d4,
  'info': #a20067,
  'danger': #69b3e7,
  'warning': #ff5e00,
  'success': #176961
);
// old
// 'info': #78a7ff,
// 'danger': #9f2631,

// typo
$font-primary: $helvetica;
$font-secondary: 'DinText', sans-serif;
$em-base: 16px;

// media
$breakpoints: (
  'sm': 320px,
  'md': 720px,
  'lg': 1024px,
  'xl': 1366px
);

// transition
$base-transition: 200ms;
$mid-transition: 400ms;

// border
$base-border: 1px solid c('border');
$base-radius: 3px;

$base-shadow: 0 0 10px 0 c('neutral');

// spaces
$base-padding: 0.5em 1em;

$small-space: 0.5em;
$base-space: 1em;
$mid-space: 1.5em;
$big-space: 2em;
$huge-space: 3em;

$block-margin: $mid-space;

$sidebar-width: 255px;
