.c-event {
  margin: 0;
  background-color: c('back');
  box-shadow: $base-shadow;

  @include mappy-bp(xl) {
    @include clearfix;
  }
}

.article__content {
  padding: $mid-space;

  @include mappy-bp(xl) {
    width: 70%;
    padding: $big-space;
    float: left;
    border-right: $base-border;
  }
}

.article__sidebar {
  margin-bottom: $mid-space;

  @include mappy-bp(md) {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    border-top: $base-border;
    font-size: 0.8em;
  }

  @include mappy-bp(xl) {
    display: block;
    width: 30%;
    margin: 0;
    float: right;
    border: 0;
  }
}

.article__block {
  padding: $mid-space;
  border-bottom: $base-border;

  @include mappy-bp(md) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-content: flex-end;
    justify-content: space-between;
    width: 33%;
    padding: $mid-space;
    border-right: $base-border;

    > * {
      height: 100%;
    }
  }

  @include mappy-bp(xl) {
    width: 100%;
  }
}
