.o-ticket {
  margin: $mid-space 0;
  padding: 0;
  background: c('back');
  box-shadow: $base-shadow;

  @include mappy-bp(md) {
    position: relative;
    padding-left: 140px;
  }

  @include mappy-bp(xl) {
    display: flex;
    padding-left: 240px;
  }
}

.c-ticket__info-container {
  &:last-child {
    padding-top: 0;
  }

  @include mappy-bp(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include mappy-bp(xl) {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    min-width: 240px;
    padding: $big-space $base-space;

    &:last-child {
      padding-top: $base-space;
    }
  }
}

.c-ticket__info {
  display: block;
  padding: $small-space 0;

  @include mappy-bp(md) {
    display: inline-block;
  }

  @include mappy-bp(xl) {
    display: block;
    padding: $small-space 0;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.c-ticket__price {
  &::before {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
  }

  &--success {
    &::before {
      content: url('../img/icons/r-s.svg');
    }
  }

  &--info {
    &::before {
      content: url('../img/icons/r-i.svg');
    }
  }

  &--warning {
    &::before {
      content: url('../img/icons/r-w.svg');
    }
  }

  &--danger {
    &::before {
      content: url('../img/icons/r-d.svg');
    }
  }
}

.c-ticket__time {
  &::before {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
  }

  &--success {
    &::before {
      content: url('../img/icons/c-s.svg');
    }
  }

  &--info {
    &::before {
      content: url('../img/icons/c-i.svg');
    }
  }

  &--warning {
    &::before {
      content: url('../img/icons/c-w.svg');
    }
  }

  &--danger {
    &::before {
      content: url('../img/icons/c-d.svg');
    }
  }
}

.c-ticket__place {
  &::before {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
  }

  &--success {
    &::before {
      content: url('../img/icons/p-s.svg');
    }
  }

  &--info {
    &::before {
      content: url('../img/icons/p-i.svg');
    }
  }

  &--warning {
    &::before {
      content: url('../img/icons/p-w.svg');
    }
  }

  &--danger {
    &::before {
      content: url('../img/icons/p-d.svg');
    }
  }
}

.c-ticket__page {
  &::before {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
  }

  &--success {
    &::before {
      content: url('../img/icons/m-s.svg');
    }
  }

  &--info {
    &::before {
      content: url('../img/icons/m-i.svg');
    }
  }

  &--warning {
    &::before {
      content: url('../img/icons/m-w.svg');
    }
  }

  &--danger {
    &::before {
      content: url('../img/icons/m-d.svg');
    }
  }
}

.c-ticket__extra {
  &::before {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
  }

  &--success {
    &::before {
      content: url('../img/icons/i-s.svg');
    }
  }

  &--info {
    &::before {
      content: url('../img/icons/i-i.svg');
    }
  }

  &--warning {
    &::before {
      content: url('../img/icons/i-w.svg');
    }
  }

  &--danger {
    &::before {
      content: url('../img/icons/i-d.svg');
    }
  }
}

.c-ticket__age {
  &::before {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
  }

  &--success {
    &::before {
      content: url('../img/icons/u-s.svg');
    }
  }

  &--info {
    &::before {
      content: url('../img/icons/u-i.svg');
    }
  }

  &--warning {
    &::before {
      content: url('../img/icons/u-w.svg');
    }
  }

  &--danger {
    &::before {
      content: url('../img/icons/u-d.svg');
    }
  }
}

.c-ticket__description {
  display: none;

  @include mappy-bp(md) {
    display: block;
  }
}
