<!-- footer -->
<footer class="c-footer">
  <div class="container">
    <div class="c-footer__block">
      <div class="c-footer__title">Мы в социальных сетях:</div>

      <a class="soc-icon" href="http://facebook.com"><svg class="svg-icon-soc svg-icon-soc--fb"><use xlink:href="#fb"/></svg></a>
      <a class="soc-icon" href="http://vk.com"><svg class="svg-icon-soc svg-icon-soc--vk"><use xlink:href="#vk"/></svg></a>
      <a class="soc-icon" href="http://google.com/plus"><svg class="svg-icon-soc svg-icon-soc--gp"><use xlink:href="#gp"/></svg></a>
      <a class="soc-icon" href="http://ok.ru"><svg class="svg-icon-soc svg-icon-soc--ok"><use xlink:href="#ok"/></svg></a>

    </div>
    <div class="c-footer__block">
      <div class="c-footer__title">Разработка сайта:</div>
      <div class="c-footer__dev" title="Moscow Design Studio"></div>
    </div>
  </div>
</footer>
<!-- / footer -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="js/bundle.js"></script>
</body>
</html>
