<!-- модалка -->
<div class="modal">
  <section class="o-ticket">
    <div class="modal__title c-heading c-heading--mid t-color--info">
      <span class="md-ib">Покупка прошла успешно.</span> Ждем вас в нашем музее!
    </div>
    <!-- фото -->
    <div class="o-block--img block-1">
    </div>
    <!-- / фото -->
    <!-- text-inner -->
    <div class="c-text-inner">
      <h4 class="c-heading c-heading--mid">"Страсти". Выставка Дмитрия Марголина</h4>
      <div class="c-ticket__description"><p>Даёт право на неограниченное посещение выставок, мероприятий и образовательных программ музея в течение года (если не указано обратное), а также скидку 15% в магазине музея.</p></div>
    </div>
    <!-- / text-inner -->
    <!-- text-inner -->
    <div class="c-text-inner c-ticket__info-container">
      <span class="c-ticket__info c-ticket__time">10:00 - 22:00</span>
      <span class="c-ticket__info c-ticket__price">2 билета х 500 руб.</span>
      <button class="c-btn t-btn-e--info t-btn-h--info js-close-modal">Вернуться на сайт</button>
    </div>
    <!-- /text-inner -->
  </section>
</div>
<!-- / модалка -->
