<!-- sidebar -->
<aside class="c-sidebar">
  <img class="c-logo--mobile" src="img/logo-main.svg" alt="Музей русского импрессионизма">
  <div class="c-nav-icon js-nav-icon">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="c-sidebar__content js-menu">
    <div class="c-logo">
      <a href="./">
        <img class="c-logo--big" src="img/logo-icon.svg" alt="Логотип Музея русского импрессионизма">
        <img class="c-logo--main" src="img/logo-main.svg" alt="Музей русского импрессионизма">
      </a>
    </div>
    <form action="#" class="c-search">
      <input type="search" class="c-search__input" placeholder="Поиск события">
    </form>
    <nav>
      <ul class="c-menu">
        <li><a href="./calendar.html">Календарь</a></li>
        <li><a href="./visit.html">Посещение</a></li>
        <li><a href="./tickets.html">Купить билеты</a></li>
        <li><a href="./museum.html">Музей</a></li>
      </ul>
    </nav>
    <div class="c-info">
      <div class="c-info__widget">
        <a href="#"><time>Сегодня, 10:00-22:00</time></a>
      </div>
      <div class="c-info__widget">
        <a href="#"><address>Москва, Ленинградский проспект, д. 15, стр. 1</address></a>
      </div>
      <div class="c-info__widget">
        <a href="#english">In English</a>
      </div>
    </div>
  </div>
</aside>
<!-- / sidebar -->
