.c-footer {
  @include clearfix;
  margin: 0 $big-space;
  padding-top: 4em;
  padding-bottom: $big-space;
  color: c('neutral');

  @include mappy-bp(lg) { // >= 1024
    @include calc('margin-left', #{$sidebar-width} + #{$big-space});
    padding-top: 10em;
  }

  @include mappy-bp(xl) { // >= 1366
    @include calc('margin-left', #{$sidebar-width} + #{$big-space} * 2);
  // margin-left: $sidebar-width + 30;
  }
}

.c-footer__dev {
  @include sprite-position($icon-mds);
  @include sprite-image($icon-mds);
  width: 176px;
  height: 38px;
  transition: $base-transition background-image;

  &:hover {
    @include sprite-position($icon-mds-h);
  }
}

.c-footer__block {
  margin: $base-space 0 $big-space;

  @include mappy-bp(md) { // >= 720
    &:first-child {
      float: left;
    }

    &:last-child {
      margin-right: $sidebar-width / 2;
      float: right;
    }
  }
}

.c-footer__title {
  margin: $mid-space 0;
}
