body {
  background: c('shadow');

  @include mappy-bp(xl) { // >= 1366
    padding: $mid-space 0;
  }
}

main {
  @include clearfix;

  @include mappy-bp(lg) { // >= 1024
    margin-left: $sidebar-width;
  }

  @include mappy-bp(xl) { // >= 1366
    margin-left: $sidebar-width + 30;
  }
}

.container {
  @include clearfix;
  max-width: 980px;
  margin: 0 auto;
  padding: $mid-space;

  @include mappy-bp(md) { // >= 720
    padding: $mid-space $mid-space * 2;
  }

  @include mappy-bp(xl) { // >= 1366
    padding: 0;
  }

  &--wide {
    padding: 0;
  }

  &--sh {
    box-shadow: $base-shadow;

    @include mappy-bp(xl) { // >= 1366
      box-shadow: none;
    }
  }
}

// блоки
.u-col {
  @include mappy-bp(md) { // >= 720
    @include clearfix;
  }

  @include mappy-bp(md xl) { // 720 - 1366
    &:nth-of-type(2n+1) {
      .o-block {
        @include calc(width, '50% - #{$block-margin} / 2');
        float: left;

        &:nth-of-type(2n+1) {
          margin: 0 $block-margin / 2 0 0; // margin collapsing
        }

        &:nth-of-type(2n+2) {
          margin: 0 0 0 $block-margin / 2; // margin collapsing
        }
      }
    }
  }

  @include mappy-bp(xl) { // >= 1366
    &:nth-of-type(4n+1),
    &:nth-of-type(4n+3) {
      width: 34%;

      .o-block {
        height: 440px;
      }
    }

    &:nth-of-type(4n+2),
    &:nth-of-type(4n+4) {
      width: 66%;
    }

    &:nth-of-type(4n+1),
    &:nth-of-type(4n+4) {
      float: right;

      .o-block {
        margin: 0 0 $block-margin $block-margin / 2; // margin collapsing
      }
    }

    &:nth-of-type(4n+2),
    &:nth-of-type(4n+3) {
      float: left;

      .o-block {
        margin: 0 $block-margin / 2 $block-margin 0; // margin collapsing
      }
    }

    &:nth-of-type(4n+2) .o-block:first-child,
    &:nth-of-type(4n+4) .o-block:last-child {
      height: 620px;
    }
  }
}

.u-flex {
  @include mappy-bp(md) {
    display: flex;

    .o-text {
      &:first-child {
        border-right: $base-border;
      }
    }
  }

  @include mappy-bp(xl) {
    .o-text {
      margin: 0;
    }

    .o-text:first-child {
      margin-right: $small-space;
    }

    .o-text:last-child {
      margin-left: $small-space;
    }
  }
}

.u-50 {
  @include mappy-bp(md) {
    flex-grow: 1;
    width: 50%;

    &:first-child {
      margin-right: $small-space;
    }

    &:last-child {
      margin-left: $small-space;
    }

    &.o-text {
      margin: 0;
    }

    > .c-heading:first-child {
      margin-top: 0;
    }
  }
}

.u-70 {
  @include mappy-bp(xl) {
    width: 65%;
  }
}

.o-flex-1-3 {
  @include mappy-bp(xl) {
    display: flex;
    flex-direction: row;

    .u-70 {
      flex-grow: 1;
      width: 65%;
      margin-right: $mid-space;
    }

    .u-50 {
      display: block;
      flex-grow: 1;
      width: auto;
      height: 100%;
      margin-right: 0;

      &:not(:first-child) {
        padding-top: $base-space;
      }
    }

    .u-30 {
      flex-grow: 1;
      width: 30%;

      &.u-flex {
        flex-direction: column;
      }
    }
  }
}

.u-col--3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .o-block {
    width: 100%; // 320
    margin: $small-space 0;

    @include mappy-bp(md) {
      width: 48.5%;

      &:nth-child(2n+1) {
        margin-right: 3%;
      }
    }

    @include mappy-bp(xl) {
      width: 32%;

      &:nth-child(2n+1) {
        margin-right: 0;
      }

      &:nth-child(3n+1) {
        margin-right: 2%;
      }

      &:nth-child(3n+2) {
        margin-right: 2%;
      }
    }
  }
}
