.c-sidebar {
  position: relative; // box-shadow
  min-height: 5.5rem; // 320
  padding: $base-space;
  background: c('back');
  font-size: rem(14);
  box-shadow: 0 0 15px 0 c('neutral');
  z-index: 1100;

  @include mappy-bp(lg) { // >= 1024
    position: fixed;
    top: -80px; // fix for mobile with browser navbar
    bottom: 0;
    left: 0;
    width: $sidebar-width;
    padding: 100px $mid-space $mid-space; // has top -80px; fix for mobile with browser navbar
  }

  &__content {
    display: block;
    position: fixed;
    top: -80px; // fix for mobile with browser navbar
    bottom: 0;
    left: - $sidebar-width; // hide sidebar on mobile
    width: $sidebar-width;
    padding: 100px $mid-space $mid-space; // has top -80px; fix for mobile with browser navbar
    transition: $base-transition;
    background: c('back');
    box-shadow: $base-shadow;
    z-index: 10;

    @include mappy-bp(lg) {  // >= 1024
      display: block;
      left: 0; // show sidebar
    }

    &.is-open {
      left: 0; // show sidebar on mobile
    }
  }
}
