.c-accordion {
  margin: $base-space 0;

  &__title {
    margin: $base-space 0;
    padding: $base-space 0 0;
    transition: $base-transition;
    border-top: $base-border;
    color: c('info');
    font-weight: bold;
    cursor: pointer;

    &::after {
      margin-left: $small-space;
      // blue arrow down
      content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAALCAMAAABFyS02AAAAOVBMVEWiAGf///+iAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGdQhsivAAAAEnRSTlMAAAMGCiMtNj1Jbpukrb3j8PldSowpAAAAQklEQVR4AU3ItxWAMADFQJFzwPsPywP9wlceLAOVdu2Yn8tz9rLRn8XL3BPVOQ3VOV/lHCzPSXnHPynPsXKOlRtJvZMUA5lkAoCVAAAAAElFTkSuQmCC);
    }

    &.is-open {
      color: c('front');

      &::after {
        // black arrow top
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAMAAAD+zz7+AAAAGFBMVEUAAAAfHx8fHx8fHx8fHx8fHx8SEhIfHx9kbp5WAAAABnRSTlMAARQcHSkkX0CNAAAALElEQVR4AWOAAHZ2MAXnIfPZwQCJxwQi4DxGCAXlscCEwQQrQhMDGzszkpEAPyIBJ9GzTP8AAAAASUVORK5CYII=);
      }
    }
  }

  &__text {
    display: none;
    margin: $base-space 0;
  }
}
