/*
Пример разметки:

<section class="block block--info">
  <div class="block__header">
    <div class="block__topic">Выставки</div>
  </div>
  <div class="block__footer">
    <div class="block__heading">Facebook</div>
    <div class="block__title">Выставка Дмитрия Марголина</div>
    <div class="block__subtitle">До 23 декабря</div>
  </div>
</section>
*/

.o-block {
  position: relative; // has position absolute inside
  min-height: 400px; // 320
  margin: $block-margin 0;
  padding: $mid-space;
  background: {
    repeat: no-repeat;
    position: 50% 50%;
    size: cover;
  }
  line-height: 1.25;
  box-shadow: $base-shadow;

  @include mappy-bp(md) {
    min-height: 440px; // 720
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: $mid-transition cubic-bezier(0.455, 0.03, 0.515, 0.955);
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 2%, rgba(255, 255, 255, 0) 30%);
    background-position: 0 100%;
    background-size: auto 200%;
    content: '';
    z-index: 0; // gradient under image
  }

  &:hover {
    &::after {
      background-size: auto 100%;
      opacity: 0.7;
    }
  }

  &__header {
    position: absolute;
    top: $mid-space;
    z-index: 1; // text above gradient
  }

  &__footer {
    position: absolute;
    bottom: $mid-space;
    width: 85%;
    z-index: 1;
  }
}

.o-block--banner {
  min-height: 355px; // 320
  margin: 0;

  @include mappy-bp(lg) {
    min-height: 440px;
    padding: $huge-space;
  }

  @include mappy-bp(xl) {
    min-height: 445px;
  }

  &::after {
    background-size: auto 100%;
  }
}

.o-block--event {
  @extend .o-block--banner;
  padding: $big-space;
}

.o-block--img {
  width: 100%;
  height: 160px;
  margin: 0;
  background-position: center;
  background-size: cover;

  @include mappy-bp(md) {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
  }

  @include mappy-bp(xl) {
    width: 220px;
  }
}

.с-block__heading {
  @extend %block-text;
  margin-bottom: $small-space;
  color: c('back');
  font-size: rem(18); // 320

  a:hover {
    color: inherit;
  }
}

.с-block__title {
  @extend %block-text;
  color: c('back');
  font-size: rem(24); // 320
  letter-spacing: 0.05em;

  @include mappy-bp(md) {
    &--lead {
      // margin-left: 0.4em;
      font-size: rem(48);
    }
  }

  a:hover {
    color: inherit;
  }
}

.с-block__subtitle {
  @extend %block-text;
  font-size: rem(24); // 320

  @include mappy-bp(md) {
    &--lead {
      // margin-left: 0.4em;
      font-size: rem(48);
    }
  }
}

.u-col:nth-of-type(4n+2) .o-block:first-child,
.u-col:nth-of-type(4n+4) .o-block:last-child {
  @include mappy-bp(xl) {
    .с-block__title,
    .с-block__subtitle {
      margin-left: 0.4em;
      font-size: rem(32);
    }
  }
}

// Временные стили, изображения для подложки.
// изображения должны загружаться через систему управления контентом
.block-1 {
  background-image: url('../img/demo/29.jpg');
}

.block-2 {
  background-image: url('../img/demo/07.jpg');
}

.block-3 {
  background-image: url('../img/demo/03.jpg');
}

.block-4 {
  background-image: url('../img/demo/photo-Downtown-81-Glenn-O-Brien-s-New-York-Beat-Movie-1981-3_0.jpg');
}

.block-5 {
  background-image: url('../img/demo/05.jpg');
}

.block-6 {
  background-image: url('../img/demo/20130725_art_archaeology_museum_035.jpg');
}

.block-7 {
  background-image: url('../img/demo/071.jpg');
}

.block-8 {
  background-image: url('../img/demo/08.jpg');
}

.block-9 {
  background-image: url('../img/demo/13.jpg');
}
