.c-btn {
  @extend %btn;
  margin: 1px 0;
  color: c('back');
  font-size: rem(14); // 320
  font-weight: 600;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.c-btn--label {
  @extend %block-text;
  @extend %btn;
  min-width: auto;
  padding: $small-space $base-space;
  font-size: rem(16); // 320
  font-weight: 500;
  letter-spacing: 0.05em;

  @include mappy-bp(md) {
    font-size: rem(17);
  }
}

.c-btn--small {
  min-width: auto;
  padding: $small-space;
  font-weight: normal;
}

.c-btn--del {
  margin-left: 0.5em;
  color: c('neutral');
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:disabled {
    background: c('shadow');

    &:hover {
      background-color: c('shadow');
    }
  }
}
