.c-datepicker {
  display: inline-block;
  max-width: 147px;
  color: c('info');

  // arrow
  //background-image:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAALCAMAAABFyS02AAAANlBMVEUAAAB4p/94p/94p/94p/94p/94p/94p/94p/94p/94p/94p/94p/94p/94p/94p/94p/94p/9eHtX3AAAAEXRSTlMAAwYKIy02PUlum6StvePw+QskfPgAAAA7SURBVHgBTci3AYAwFMXAZ3KGv/+yFFahKy/Zpkjbh6zfo2tnHRnv6se8SzgPp9ExOsZ3MTrGx/jm4AdqBQM3wTBZtgAAAABJRU5ErkJggg==);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAALCAMAAABFyS02AAAAOVBMVEWiAGf///+iAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGdQhsivAAAAEnRSTlMAAAMGCiMtNj1Jbpukrb3j8PldSowpAAAAQklEQVR4AU3ItxWAMADFQJFzwPsPywP9wlceLAOVdu2Yn8tz9rLRn8XL3BPVOQ3VOV/lHCzPSXnHPynPsXKOlRtJvZMUA5lkAoCVAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: right center;

  @include mappy-bp(md) {
    max-width: 160px;
  }

  input {
    width: 100%;
    text-transform: uppercase;
  }

  input:focus {
    outline: none;
  }
}

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 0;
    padding: $base-space $small-space;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    &.is-hidden {
        display: none;
    }

    &.is-bound {
        position: absolute;
        box-shadow: $base-shadow;
    }
}

// clear child float (pika-lendar), using the famous micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.pika-single {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after { clear: both }
}

.pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
}

.pika-title {
    position: relative;
    font-family: $font-secondary;
    text-align: center;
    text-transform: uppercase;
    border-bottom: $base-border;
    margin-bottom: 0.5em;

    select {
        cursor: pointer;
        position: absolute;
        z-index: 9998;
        margin: 0;
        left: 0;
        top: 5px;
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    background-color: #fff;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    text-indent: 20px; // hide text using text-indent trick, using width value (it's enough)
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;

    &:hover {
        opacity: 1;
    }

    &.is-disabled {
        cursor: default;
        opacity: .2;
    }
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAIVBMVEX///+iAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGfKWdTRAAAAC3RSTlMAEDC/wM/Q3+Dv8IGJCy0AAAAvSURBVHgBY0AARmYmEIXgs3Ix4eMzsaPxOcnjIwS4OEEClItwoIswshEhwgISAAClvwE4U3x9swAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAHlBMVEX///+iAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGeiAGdm9s0eAAAACnRSTlMAEDC/wM/Q4O/wHdAjlQAAAC1JREFUeAFjAAImZkYGFMDEyUqMCBO6CAc1RJg4OJko47Oj8dkYMfgoAixIfACYRQEfvWSJ9QAAAABJRU5ErkJggg==');
    *right: 0;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;

    th,
    td {
        width: 14.285714285714286%;
        padding: 0;
    }

    tbody {
      td {
        border: $base-border;
      }
    }

    th {
        color: #999;
        font-size: 12px;
        line-height: 25px;
        font-weight: bold;
        text-align: center;
    }

    abbr {
        border-bottom: none;
        cursor: help;
    }
}

.pika-button {
    cursor: pointer;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 8px 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #fff;
    text-align: center;

    .is-today & {
        color: c('info');
        font-weight: bold;
    }

    .is-selected & {
        color: #fff;
        font-weight: bold;
        background: c('info');
    }

    .is-disabled & {
        pointer-events: none;
        cursor: default;
        color: #999;
        opacity: .3;
    }

    &:hover {
        color: #fff;
        background: c('info');
    }
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-inrange .pika-button {
    background: #D5E9F7;
}

.is-startrange .pika-button {
    color: #fff;
    background: c('info');
    box-shadow: none;
    border-radius: 3px;
}

.is-endrange .pika-button {
    color: #fff;
    background: c('info');
    box-shadow: none;
    border-radius: 3px;
}
