.dropdown {
  display: inline-block;
  position: relative;
  min-width: 100%;

  .c-btn {
    width: 100%;
  }

  .c-btn--small {
    width: auto;
  }
}

.dropdown--ticket {
  min-width: 200px;
}

.dropdown__menu {
  position: absolute;
  right: 0;
  min-width: 280px;
  margin-top: $small-space;
  padding: $base-space;
  transition: $base-transition;
  background-color: c('back');
  color: c('front');
  box-shadow: $base-shadow;
  opacity: 0;
  visibility: hidden;
  z-index: 10;

  &.is-open {
    opacity: 1;
    visibility: visible;
  }
}

.dropdown__list {
  list-style: none;
  font-size: rem(14);

  li {
    @include clearfix;
    height: 45px;
    padding: $small-space 0;

    &:not(:last-child) {
      border-bottom: 1px solid c('shadow');
    }

    span {
      line-height: 2;
      vertical-align: middle;

      &:first-child {
        font-weight: bold;
      }
    }

    .c-btn {
      line-height: 1;
    }
  }
}
