.c-input-group {
  display: inline-block;
  margin: $small-space 10px $small-space 0;
}

.c-input {
  &--field {
    display: block;
    width: 100%;
    margin: $base-space 0;
    padding: $base-padding;
    border: 1px solid c('info');
    border-radius: $base-radius;
  }

  &--radio {
    display: none;

    & + .c-input--label::before {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border: 3px solid c('back');
      border-radius: $base-radius;
      box-shadow: 0 0 0 1px c('info');
      content: '';
      vertical-align: middle;
    }

    &:checked + .c-input--label::before {
      background: c('info');
    }
  }
}

.icon-card {
  display: inline-block;
  vertical-align: middle;
  @include sprite($icon-visa);
}

.icon-yandex {
  display: inline-block;
  vertical-align: middle;
  @include sprite($icon-yandex-money);
}

.icon-rbk {
  display: inline-block;
  vertical-align: middle;
  @include sprite($icon-rbk);
}
