.c-heading {
  @extend %block-text;

  &--huge {
    font-size: rem(36); // 320

    @include mappy-bp(md) {
      font-size: rem(46);
    }
  }

  &--big {
    margin-bottom: $small-space;
    font-size: rem(30); // 320

    @include mappy-bp(md) {
      font-size: rem(32);
    }
  }

  &--mid {
    margin: $small-space 0;
    font-size: rem(18);

    @include mappy-bp(md) {
      font-size: rem(24);
    }
  }
}

.c-headring--table {
  font-weight: bold;
}

.t-heading {
  &--contrast {
    color: c('back');
  }
}
