.c-logo {
  &--big {
    display: none; // 320
    width: 152px;
    height: 138px;

    @include mappy-bp(lg) {
      display: block;
      margin-left: 0.8rem;
    }
  }

  &--main {
    width: 197px;
    height: 86px;

    @include mappy-bp(md) {
      position: static;
      margin: $base-space 0 $small-space;
    }
  }

  &--mobile {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    width: 197px;
    height: 86px;
    z-index: 10;

    @include mappy-bp(lg) {
      display: none;
    }
  }
}
