.c-menu {
  margin-bottom: $mid-space;
  color: c('front');
  font: {
    family: $font-secondary;
    size: rem(20);
    weight: 500;
  }
  line-height: 1.9;
  text-transform: uppercase;
}

.u-menu-container {
  position: relative;
  max-height: 60px;
  border-bottom: $base-border;
  overflow: hidden;

  @include mappy-bp(xl) {
    margin: 0 0 $base-space;
    border-bottom: 0;
    box-shadow: $base-shadow;
  }
}

.c-menu--hor {
  position: relative;
  margin-bottom: -30px; // hide scrollbar
  padding: $small-space;
  padding-bottom: calc(30px + 0.5em);
  background: c('back');
  white-space: nowrap;
  overflow-x: auto;

  @include mappy-bp(lg) {
    padding-right: $big-space;
    padding-left: $big-space;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .menu__item {
    display: inline-block;
    padding: 0 $small-space;
    color: c('neutral');
  }

  .menu__link {
    &:hover,
    &:active,
    &.is-active {
      color: c('front');
    }
  }
}
