.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(c('front'), 0.7);
  z-index: 2000;

  .o-ticket {
    position: relative; // has pos-a inside
    width: 90%;
    margin: 20% auto;

    @include mappy-bp(lg) {
      width: 980px;
    }
  }

  .c-btn {
    width: 100%;

    @include mappy-bp(md) {
      width: 200px;
    }
  }
}

.modal__title {
  position: absolute;
  top: -4em;
  left: 0;
  width: 100%;
  padding: $base-space;
  border-bottom: $base-border;
  background: c('back');
  text-align: center;
}

.md-ib {
  display: none;

  @include mappy-bp(md) {
    display: inline-block;
  }
}
