.c-nav-icon {
  position: relative;
  top: 10px;
  width: 25px;
  height: 30px;
  margin-right: $base-space;
  float: right;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;

  @include mappy-bp(lg) {
    display: none;
  }

  span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    border-radius: 9px;
    background: c('front');
    opacity: 1;

    &:nth-child(1) {
      top: 5px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 12px;
    }

    &:nth-child(4) {
      top: 19px;
    }
  }

  &.is-open span:nth-child(1) {
    top: 12px;
    left: 50%;
    width: 0;
  }

  &.is-open span:nth-child(2) {
    transform: rotate(45deg);
  }

  &.is-open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  &.is-open span:nth-child(4) {
    top: 12px;
    left: 50%;
    width: 0;
  }
}
