.c-partners {
  &__item {
    display: block;
    margin: $big-space auto;
    color: c('neutral');
    text-align: center;
    vertical-align: top;

    @include mappy-bp(md) {
      display: inline-block;
      width: 30%;
      margin: $base-space $base-space $base-space 0;

      &:nth-of-type(3) {
        margin-right: 0;
      }
    }
  }

  &__img {
    margin: $base-space 0;

    @include mappy-bp(md) {
      display: flex;
      min-height: 150px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
      object-fit: contain;
    }
  }
}
