.persons--small {
  margin: $base-space 0;

  .c-person {
    @include clearfix();
    width: 100%; // 320
    margin: $small-space 0;
    font-size: 0.9em;
  }

  .c-person__photo {
    width: 120px; // 320
    margin-right: $mid-space;
    float: left; // 320
  }

  .c-person__name {
    padding-top: 0;
    font-weight: bold;
  }
}

.c-person {
  @include clearfix();
  width: 100%; // 320
  margin: $small-space 0;

  @include mappy-bp(md) {
    display: inline-block;
    width: 31%;
    margin: $base-space $base-space $base-space 0;
    vertical-align: top;

    &:nth-of-type(3) {
      margin-right: 0;
    }
  }

  &__photo {
    width: 80px; // 320
    margin-right: $mid-space;
    float: left; // 320

    @include mappy-bp(md) {
      width: 100%;
      margin: 0;
      float: none;
    }
  }

  &__name {
    padding-top: $small-space;
    font-weight: bold;
  }
}
