.o-text {
  padding: $mid-space;
  border-bottom: $base-border;
  background: c('back');

  @include mappy-bp(lg) {
    padding: $huge-space;
  }

  @include mappy-bp(xl) {
    margin: $base-space 0;
    box-shadow: $base-shadow;
  }
}

.c-text-inner {
  padding: $base-space;
  height: 100%;
}

.c-gallery {
  @include mappy-bp(md) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .u-100 {
      width: 100%;
    }

    .u-70 {
      width: 64.5%;
    }

    .u-30 {
      width: 31%;
    }
  }
}

.map {
  margin: $base-space 0;

  @include mappy-bp(xl) {
    margin: 0;
  }
}

.address {
  margin: $base-space 0;
}
