.t-block--light {
  &::after {
    content: none;
  }
}

.t-block--small {
  min-height: 260px; // 320
}

.t-block--lead {
  @include mappy-bp(md) { // >= 720
    height: 440px;
  }

  @include mappy-bp(lg) { // >= 1024
    margin-top: 0;
  }
}
