// базовые кнопки: фоновый цвет темнее при наведении
.t-btn {
  &--dark {
    transition: $base-transition;
    border-color: c('front');
    background: c('front');
    color: c('back');

    &:hover,
    &.is-active {
      background: shade(c('front'), 20%);
      color: c('back');
    }
  }

  &--info {
    transition: $base-transition;
    background: c('info');

    &:hover,
    &.is-active {
      background: shade(c('info'), 20%);
    }
  }

  &--warning {
    transition: $base-transition;
    background: c('warning');

    &:hover,
    &.is-active {
      background: shade(c('warning'), 20%);
    }
  }

  &--success {
    transition: $base-transition;
    background: c('success');

    &:hover,
    &.is-active {
      background: shade(c('success'), 20%);
    }
  }

  &--danger {
    transition: $base-transition;
    background: c('danger');

    &:hover,
    &.is-active {
      background: shade(c('danger'), 20%);
    }
  }
}

// кнопки, меняющие цвет при наведении
.t-btn-h {
  &--dark {
    &:hover,
    &.is-active {
      border-color: c('front');
      background: c('front');
      color: c('back');
    }
  }

  &--info {
    &:hover,
    &.is-active {
      border-color: c('info');
      background: c('info');
      color: c('back');
    }
  }

  &--warning {
    &:hover,
    &.is-active {
      border-color: c('warning');
      background: c('warning');
      color: c('back');
    }
  }

  &--success {
    &:hover,
    &.is-active {
      border-color: c('success');
      background: c('success');
      color: c('back');
    }
  }

  &--danger {
    &:hover,
    &.is-active {
      border-color: c('danger');
      background: c('danger');
      color: c('back');
    }
  }
}

// серые кнопки
.t-btn-bg--grey {
  border: $base-border;
  background-color: c('shadow');
  color: c('neutral');

  &.is-active {
    color: c('back');
  }
}

// кнопки белого цвета с границей
.t-btn-e {
  &--info {
    border: $base-border;
    border-color: c('info');
    color: c('info');
  }

  &--warning {
    border: $base-border;
    border-color: c('warning');
    color: c('warning');
  }

  &--success {
    border: $base-border;
    border-color: c('success');
    color: c('success');
  }

  &--danger {
    border: $base-border;
    border-color: c('danger');
    color: c('danger');
  }
}

// кнопка-карта
.t-btn--map {
  width: 100%;

  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../img/btn-map.png');

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../img/btn-map.png');
  }

  @include mappy-bp(md) {
    width: auto;
  }
}
