.t-color {
  &--info {
    color: c('info');
  }

  &--warning {
    color: c('warning');
  }

  &--success {
    color: c('success');
  }

  &--danger {
    color: c('danger');
  }

  &--contrast {
    color: c('front');
  }

  &--neutral {
    color: c('neutral');
    font-size: 0.9em;
  }
}
