//= partials/_header.html
//= partials/_sidebar.html
  <main>
    <div class="container container--wide">
      <!-- заголовок страницы -->
      <section class="o-block o-block--banner t-block--lead t-block--visit">
        <div class="o-block__footer">
          <h2 class="c-heading c-heading--huge t-heading--contrast">Календарь</h2>
        </div>
      </section>
      <nav class="u-menu-container">
        <ul class="c-menu c-menu--hor js-menu-scroll">
          <li class="menu__item"><a href="#1" class="menu__link">События</a></li>
          <li class="menu__item"><a href="#2" class="menu__link">Скоро</a></li>
          <li class="menu__item"><a href="#3" class="menu__link">Архив</a></li>
        </ul>
      </nav>
      <!-- / заголовок страницы -->
      <!-- container -->
      <div class="container">
        <!-- события -->
        <section class="c-calendar__results">
          <h3 class="c-heading c-heading--big" id="1">События <span class="c-datepicker"><input type="text" id="js-date" value="7 января" readonly=""></span></h3>
          <!-- фильтр -->
          <!-- нужно чтобы при клике на кнопку выводились события соответствующего типа -->
          <div class="c-filter">
            <a class="c-btn c-btn--label t-btn-bg--grey t-btn-h--dark js-btn is-active" href="#">Все</a>
            <a class="c-btn c-btn--label t-btn-bg--grey t-btn-h--info js-btn" href="#">Выставки</a>
            <a class="c-btn c-btn--label t-btn-bg--grey t-btn-h--warning js-btn" href="#">Образование</a>
            <a class="c-btn c-btn--label t-btn-bg--grey t-btn-h--danger js-btn" href="#">Кинотеатр</a>
            <a class="c-btn c-btn--label t-btn-bg--grey t-btn-h--success js-btn" href="#">Мероприятия</a>
          </div>
          <!-- / фильтр -->
          <div class="u-col--3">
            <section class="o-block block-2 c-search__item js-search-item">
              <div class="o-block__header">
                <a href="#" class="с-block__topic c-btn c-btn--label t-btn--success">Мероприятия</a>
              </div>
              <div class="o-block__footer">
                <div class="с-block__title">Искусство и его исторические координаты</div>
                <div class="с-block__subtitle t-color--success">С 6 ноября</div>
              </div>
            </section>
            <section class="o-block block-4 c-search__item js-search-item">
              <div class="o-block__header">
                <a href="#" class="с-block__topic c-btn c-btn--label t-btn--danger">Кинотеатр</a>
              </div>
              <div class="o-block__footer">
                <div class="с-block__title">Даунтаун 81 /<br>Downtown 81</div>
                <div class="с-block__subtitle t-color--danger">До 23 декабря</div>
              </div>
            </section>
            <section class="o-block block-6 c-search__item js-search-item">
              <div class="o-block__header">
                <a href="#" class="с-block__topic c-btn c-btn--label t-btn--warning">Образование</a>
              </div>
              <div class="o-block__footer">
                <div class="с-block__title">Открытые системы. Опыты художественной самоорганизации в России</div>
                <div class="с-block__subtitle t-color--warning">До 8 февраля</div>
              </div>
            </section>
            <section class="o-block block-2 c-search__item js-search-item">
              <div class="o-block__header">
                <a href="#" class="с-block__topic c-btn c-btn--label t-btn--success">Мероприятия</a>
              </div>
              <div class="o-block__footer">
                <div class="с-block__title">Искусство и его исторические координаты</div>
                <div class="с-block__subtitle t-color--success">С 6 ноября</div>
              </div>
            </section>
          </div>
        </section>
        <!-- / события -->
        <!-- скоро -->
        <section class="c-calendar__results">
          <h3 class="c-heading c-heading--big" id="2">Скоро</h3>
          <div class="u-col--3">
            <section class="o-block block-4 c-search__item js-search-item">
              <div class="o-block__header">
                <a href="#" class="с-block__topic c-btn c-btn--label t-btn--danger">Кинотеатр</a>
              </div>
              <div class="o-block__footer">
                <div class="с-block__title">Даунтаун 81 /<br>Downtown 81</div>
                <div class="с-block__subtitle t-color--danger">До 23 декабря</div>
              </div>
            </section>
            <section class="o-block block-6 c-search__item js-search-item">
              <div class="o-block__header">
                <a href="#" class="с-block__topic c-btn c-btn--label t-btn--warning">Образование</a>
              </div>
              <div class="o-block__footer">
                <div class="с-block__title">Открытые системы. Опыты художественной самоорганизации в России</div>
                <div class="с-block__subtitle t-color--warning">До 8 февраля</div>
              </div>
            </section>
          </div>
        </section>
        <!-- / скоро -->
        <!-- архив -->
        <section class="c-search-results">
          <h3 class="c-heading c-heading--big" id="3">Архив</h3>
          <!-- результаты поиска событий в архиве -->
          <div class="js-search-slider">
            <div class="c-search__nav-cont">
              <div class="c-search__nav js-slider-nav"></div>
            </div>
            <section class="o-block block-4 c-search__item js-search-item">
              <div class="o-block__header">
                <a href="#" class="с-block__topic c-btn c-btn--label t-btn--danger">Кинотеатр</a>
              </div>
              <div class="o-block__footer">
                <div class="с-block__title">Даунтаун 81 /<br>Downtown 81</div>
                <div class="с-block__subtitle t-color--danger">До 23 декабря</div>
              </div>
            </section>
            <section class="o-block block-6 c-search__item js-search-item">
              <div class="o-block__header">
                <a href="#" class="с-block__topic c-btn c-btn--label t-btn--warning">Образование</a>
              </div>
              <div class="o-block__footer">
                <div class="с-block__title">Открытые системы. Опыты художественной самоорганизации в России</div>
                <div class="с-block__subtitle t-color--warning">До 8 февраля</div>
              </div>
            </section>
            <section class="o-block block-2 c-search__item js-search-item">
              <div class="o-block__header">
                <a href="#" class="с-block__topic c-btn c-btn--label t-btn--success">Мероприятия</a>
              </div>
              <div class="o-block__footer">
                <div class="с-block__title">Искусство и его исторические координаты</div>
                <div class="с-block__subtitle t-color--success">С 6 ноября</div>
              </div>
            </section>
            <section class="o-block block-4 c-search__item js-search-item">
              <div class="o-block__header">
                <a href="#" class="с-block__topic c-btn c-btn--label t-btn--danger">Кинотеатр</a>
              </div>
              <div class="o-block__footer">
                <div class="с-block__title">Даунтаун 81 /<br>Downtown 81</div>
                <div class="с-block__subtitle t-color--danger">До 23 декабря</div>
              </div>
            </section>
            <section class="o-block block-6 c-search__item js-search-item">
              <div class="o-block__header">
                <a href="#" class="с-block__topic c-btn c-btn--label t-btn--warning">Образование</a>
              </div>
              <div class="o-block__footer">
                <div class="с-block__title">Открытые системы. Опыты художественной самоорганизации в России</div>
                <div class="с-block__subtitle t-color--warning">До 8 февраля</div>
              </div>
            </section>
            <section class="o-block block-2 c-search__item js-search-item">
              <div class="o-block__header">
                <a href="#" class="с-block__topic c-btn c-btn--label t-btn--success">Мероприятия</a>
              </div>
              <div class="o-block__footer">
                <div class="с-block__title">Искусство и его исторические координаты</div>
                <div class="с-block__subtitle t-color--success">С 6 ноября</div>
              </div>
            </section>
          </div>
          <!-- / результаты поиска событий в архиве -->
        </section>
        <!-- / архив -->
      </div>  <!-- / container -->
    </div> <!-- / container -->
  </main>
//= partials/_footer.html
