//= partials/_header.html
//= partials/_sidebar.html
  <main>
    <div class="container container--wide">
      <!-- картинка -->
      <section class="o-block o-block--event t-block--lead block-1">
        <div class="o-block__header">
          <a href="#" class="с-block__topic c-btn c-btn--label t-btn--info">Выставки</a>
        </div>
        <div class="o-block__footer">
          <div class="с-block__title с-block__title--lead">Документальный фильм</div>
          <div class="с-block__subtitle с-block__subtitle--lead t-color--info">7 декабря, 18:00</div>
        </div>
      </section>
      <!-- / картинка -->
      <!-- section -->
      <section class="c-event">
        <aside class="article__sidebar">
          <div class="article__block">
            <span class="c-ticket__info c-ticket__time c-ticket__time--info">3-20 февраля</span>
            <!-- dropdown -->
            <div class="dropdown">
              <button class="c-btn t-btn-e--info t-btn-h--info js-dropdown-toggler" href="#">Добавить в календарь</button>
              <div class="dropdown__menu js-dropdown-menu">
                <ul class="dropdown__list">
                  <li><span><a href="#">Google Календарь</a></span></li>
                  <li><span><a href="#">Yandex Календарь</a></span></li>
                  <li><span><a href="#">Ical Календарь</a></span></li>
                </ul>
              </div>
            </div>
            <!-- / dropdown -->
          </div>
          <div class="article__block">
            <span class="c-ticket__info c-ticket__price c-ticket__price--info">7000 руб.</span>
            <!-- dropdown -->
            <div class="dropdown">
              <button class="c-btn t-btn--info js-dropdown-toggler" href="#">Купить билеты</button>
              <div class="dropdown__menu js-dropdown-menu">
                <form action="#pay">
                  <ul class="dropdown__list">
                    <li>
                      <span class="u-w-50">Взрослые <span>х <output>1</output></span></span>
                      <span class="u-fl-r u-ta-r u-w-50"><button class="c-btn c-btn--small t-btn-e--info t-btn-h--info">300 руб.</button><button class="c-btn--del js-del">&#10060;</button></span>
                    </li>
                    <li>
                      <span class="u-w-50">Студенты</span>
                      <span class="u-fl-r u-ta-r u-w-50"><button class="c-btn c-btn--small t-btn-e--info t-btn-h--info">150 руб.</button></span>
                    </li>
                    <li>
                      <span class="u-w-50">Школьники <span>х <output>2</output></span></span>
                      <span class="u-fl-r u-ta-r u-w-50"><button class="c-btn c-btn--small t-btn-e--info t-btn-h--info">100 руб.</button><button class="c-btn--del js-del">&#10060;</button></span>
                    </li>
                    <li>
                      <span class="u-w-50">Пенсионеры</span>
                      <span class="u-fl-r u-ta-r u-w-50"><button class="c-btn c-btn--small t-btn-e--info t-btn-h--info">100 руб.</button></span>
                    </li>
                    <li>
                      <span class="u-w-50">Инвалиды</span>
                      <span class="u-fl-r u-ta-r u-w-50">Бесплатно</span>
                    </li>
                    <li class="result">
                      <span class="u-w-50">Итого:</span>
                      <span class="u-fl-r u-ta-r u-w-50">500 руб.</span>
                    </li>
                    <!-- если не выбран ни один из вариантов то для result добавляется класс disabled, и она станет серая -->
                    <!--
                      <li class="result disabled">
                        <span class="u-w-50">Итого:</span>
                        <span class="u-fl-r u-ta-r u-w-50">500 руб.</span>
                      </li>
                    -->
                  </ul>
                  <button class="c-btn t-btn--info" type="submit">Перейти к оплате</button>
                  <!-- если не выбран ни один из вариантов то для кнопки добавляется атрибут disabled, и она станет серая -->
                  <!-- <button class="c-btn t-btn--info" type="submit" disabled>Перейти к оплате</button> -->
                </form>
              </div>
            </div>
            <!-- / dropdown -->
          </div>
          <div class="article__block">
            <span class="c-ticket__info c-ticket__place c-ticket__place--info">Парк им. Горького, Пушкинская набережная</span>
            <button class="c-btn t-btn--map" href="#">Смотреть на карте</button>
          </div>
        </aside>
        <div class="article__content">
          <article>
            <p>Увлеченный живописью художник сродни визионеру, способному видефять то, что недоступно остальным. Природа такого острого взгляда предполагает распад существующих причинно-следственных связей: предмет перестает быть просто образом-символом, зафиксированным в языке и сознании и превращается в нечто большее.</p>
            <p>Годы ученичества и творческий опыт Дмитрия Марголина свидетельствуют о том, что техническими премудростями он овладел в совершенстве. При этом он последовал по пути упрощения художественного языка.</p>
            <blockquote>
              <p>С 8 октября в Музее русского импрессионизма будет работать выставка петербургского художника Дмитрия Марголина.</p>
              <cite>— Алексей Иванов, куратор выставки</cite>
            </blockquote>
            <p>В картинах Дмитрия Марголина отчетливо прослеживается вечный диалог художника с традицией. Автор решительно игнорирует разговоры о кризисе изобразительного искусства и новаторские сентенции о грузе традиции, считая их не более чем модой. Живописная культура для него — скорее благо, дающее радость понимания, а диалог c традицией — мистический процесс, позволяющий художнику ощутить духовное родство с давно покинувшими этот мир мастерами.</p>
          </article>
          <hr>
          <aside>
            <h4 class="c-heading c-heading--mid">Работы Дмитрия Марголина</h4>
            <!-- slider -->
            <div class="js-img-slider">
              <div class="c-search__nav-cont">
                <div class="c-search__nav js-slider-nav"></div>
              </div>
              <div class="js-img-slide">
                <img class="c-img c-img--rounded" src="img/demo/13.jpg" alt="">
              </div>
              <div class="js-img-slide">
                <img class="c-img c-img--rounded" src="img/demo/29.jpg" alt="">
              </div>
              <div class="js-img-slide">
                <img class="c-img c-img--rounded" src="img/demo/07.jpg" alt="">
              </div>
            </div>
            <!-- / slider -->
          </aside>
          <hr>
          <aside class="persons--small">
            <h4 class="c-heading c-heading--mid">Кураторы</h4>
            <div class="c-person">
              <img class="c-img c-img--rounded c-person__photo" src="img/demo/person1.jpg" alt="">
              <div class="c-person__name">Виктория Иванова</div>
              <div class="c-person__title">Куратор, критик, историк искусства, директор лондонской галереи «Серпентайн»</div>
            </div>
            <div class="c-person">
              <img class="c-img c-img--rounded c-person__photo" src="img/demo/person2.jpg" alt="">
              <div class="c-person__name">Анна Петрова</div>
              <div class="c-person__title">Куратор, критик, историк искусства, директор лондонской галереи «Серпентайн»</div>
            </div>
          </aside>
          <hr>
          <aside>
            <h4 class="c-heading c-heading--mid">Партнёры</h4>
            <!-- partners -->
            <div class="c-parnters">
              <div class="c-partners__item">
                <div class="c-partners__img">
                  <img src="img/demo/partner1.png" alt="">
                </div>
              </div>
              <div class="c-partners__item">
                <div class="c-partners__img">
                  <img src="img/demo/partner2.png" alt="">
                </div>
              </div>
            </div>
            <!-- / partners -->
          </aside>
        </div>
        <aside class="article__sidebar">
          <div class="article__block">
            <span class="c-ticket__info c-ticket__page c-ticket__page--info">Страница события</span>
            <div class="share">
              <!-- Facebook button -->
              <a class="share-btn share-btn-big share-btn-facebook"
                 href="https://www.facebook.com"
                 title="Share on Facebook">
                <span class="share-btn-icon"></span>
                <span class="share-btn-text">160 чел.</span>
              </a>

              <!-- vk button -->
              <a class="share-btn share-btn-big share-btn-vk"
                 href="https://www.vk.com"
                 title="Share on Vk">
                <span class="share-btn-icon"></span>
                <span class="share-btn-text">124 чел.</span>
              </a>
            </div>
          </div>
          <div class="article__block">
            <span class="c-ticket__info c-ticket__extra c-ticket__extra--info">Мероприятие доступно для людей с ограниченными возможностями</span>
          </div>
          <div class="article__block">
            <span class="c-ticket__info c-ticket__age c-ticket__age--info">16+</span>
          </div>
          <div class="article__block">
            <div class="share">
              <!-- Twitter button -->
              <a class="share-btn share-btn-twitter"
                 href="https://twitter.com"
                 title="Share on Twitter">
                <span class="share-btn-icon"></span>
                <span class="share-btn-text">Твитнуть</span>
              </a>

              <!-- Facebook button -->
              <a class="share-btn share-btn-facebook"
                 href="https://www.facebook.com"
                 title="Share on Facebook">
                <span class="share-btn-icon"></span>
                <span class="share-btn-text">Поделиться</span>
              </a>

              <!-- vk button -->
              <a class="share-btn share-btn-vk"
                 href="https://www.vk.com"
                 title="Share on Vk">
                <span class="share-btn-icon"></span>
                <span class="share-btn-text">Поделиться</span>
              </a>

              <!-- g+ button -->
              <a class="share-btn share-btn-gp"
                 href="https://www.google.com/plus"
                 title="Share on G+">
                <span class="share-btn-icon"></span>
                <span class="share-btn-text">Плюсануть</span>
              </a>

              <!-- ok button -->
              <a class="share-btn share-btn-ok"
                 href="https://www.google.com/plus"
                 title="Share on OK">
                <span class="share-btn-icon"></span>
                <span class="share-btn-text">Запинить</span>
              </a>
            </div>
          </div>
        </aside>
      </section>
      <!-- / section -->
    </div> <!-- / container -->
    <div class="container">
      <!-- section -->
      <section class="c-search-results">
        <h3 class="c-heading c-heading--big">Актуально</h3>
        <!-- актуальные события -->
        <div class="js-search-slider">
          <div class="c-search__nav-cont">
            <div class="c-search__nav js-slider-nav"></div>
          </div>
          <section class="o-block block-4 c-search__item js-search-item">
            <div class="o-block__header">
              <a href="#" class="с-block__topic c-btn c-btn--label t-btn--danger">Кинотеатр</a>
            </div>
            <div class="o-block__footer">
              <div class="с-block__title">Даунтаун 81 /<br>Downtown 81</div>
              <div class="с-block__subtitle t-color--danger">До 23 декабря</div>
            </div>
          </section>
          <section class="o-block block-6 c-search__item js-search-item">
            <div class="o-block__header">
              <a href="#" class="с-block__topic c-btn c-btn--label t-btn--warning">Образование</a>
            </div>
            <div class="o-block__footer">
              <div class="с-block__title">Открытые системы. Опыты художественной самоорганизации в России</div>
              <div class="с-block__subtitle t-color--warning">До 8 февраля</div>
            </div>
          </section>
          <section class="o-block block-2 c-search__item js-search-item">
            <div class="o-block__header">
              <a href="#" class="с-block__topic c-btn c-btn--label t-btn--success">Мероприятия</a>
            </div>
            <div class="o-block__footer">
              <div class="с-block__title">Искусство и его исторические координаты</div>
              <div class="с-block__subtitle t-color--success">С 6 ноября</div>
            </div>
          </section>
          <section class="o-block block-4 c-search__item js-search-item">
            <div class="o-block__header">
              <a href="#" class="с-block__topic c-btn c-btn--label t-btn--danger">Кинотеатр</a>
            </div>
            <div class="o-block__footer">
              <div class="с-block__title">Даунтаун 81 /<br>Downtown 81</div>
              <div class="с-block__subtitle t-color--danger">До 23 декабря</div>
            </div>
          </section>
          <section class="o-block block-6 c-search__item js-search-item">
            <div class="o-block__header">
              <a href="#" class="с-block__topic c-btn c-btn--label t-btn--warning">Образование</a>
            </div>
            <div class="o-block__footer">
              <div class="с-block__title">Открытые системы. Опыты художественной самоорганизации в России</div>
              <div class="с-block__subtitle t-color--warning">До 8 февраля</div>
            </div>
          </section>
          <section class="o-block block-2 c-search__item js-search-item">
            <div class="o-block__header">
              <a href="#" class="с-block__topic c-btn c-btn--label t-btn--success">Мероприятия</a>
            </div>
            <div class="o-block__footer">
              <div class="с-block__title">Искусство и его исторические координаты</div>
              <div class="с-block__subtitle t-color--success">С 6 ноября</div>
            </div>
          </section>
        </div>
        <!-- / актуальные события -->
      </section>
      <!-- / section -->
    </div>
  </main>
//= partials/_footer.html
