//= partials/_header.html
//= partials/_sidebar.html
  <main>
    <div class="container">
      <!--
      Информация для программиста:

      Классы block-1 - block-9 это временные классы (псевдо ID блока), которые нужны для демонстрации фонового изображения.
      В CMS нужна возможность задавать фоновое изображение для каждого блока.

      Есть следующие виды блоков:
      0) c-block - базовый класс блока, должен быть у всех блоков
      1) По цвету ярлыков и подзаголовков:
        а) info - синий
        б) success - зеленый
        в) danger - красный
        г) warning - оранжевый
        д) contrast - черный
      2) По наличию тени:
        а) базовый с тенью
        б) t-block--light - без тени
      3) По размеру:
        а) базовый обычного размера
        б) t-block--small - маленький блок
      4) Для фоновой картинки блок с ID.

      Нужна возможность задавать эти группы стилей для каждого блока.

      Все блоки кроме первого попарно вставляются в div.u-col
       -->
      <!-- Первый блок -->
      <section class="o-block t-block--lead block-1">
        <div class="o-block__header">
          <a href="#" class="с-block__topic c-btn c-btn--label t-btn--info">Выставки</a>
        </div>
        <div class="o-block__footer">
          <div class="с-block__title с-block__title--lead">Документальный фильм</div>
          <div class="с-block__subtitle с-block__subtitle--lead t-color--info">7 декабря, 18:00</div>
        </div>
      </section>
      <!-- / Первый блок -->
      <div class="u-col">
        <section class="o-block block-2">
          <div class="o-block__header">
            <a href="#" class="с-block__topic c-btn c-btn--label t-btn--success">Мероприятия</a>
          </div>
          <div class="o-block__footer">
            <div class="с-block__title">Искусство и его<br> исторические координаты</div>
            <div class="с-block__subtitle t-color--success">С 6 ноября</div>
          </div>
        </section>
        <section class="o-block t-block--light block-3">
          <div class="o-block__footer">
            <div class="с-block__title">Два билета по цене одного</div>
            <div class="с-block__subtitle t-color--contrast">в новогодние каникулы</div>
          </div>
        </section>
      </div> <!-- / u-col -->
      <div class="u-col">
        <section class="o-block block-4">
          <div class="o-block__header">
            <a href="#" class="с-block__topic c-btn c-btn--label t-btn--danger">Кинотеатр</a>
          </div>
          <div class="o-block__footer">
            <div class="с-block__title">Даунтаун 81 /<br>Downtown 81</div>
            <div class="с-block__subtitle t-color--danger">До 23 декабря</div>
          </div>
        </section>
        <section class="o-block t-block--small block-5">
          <div class="o-block__footer">
            <div class="с-block__heading">Facebook</div>
            <div class="с-block__title">Один день из жизни творческих людей Москвы</div>
          </div>
        </section>
      </div> <!-- / u-col -->
      <div class="u-col">
        <section class="o-block block-6">
          <div class="o-block__header">
            <a href="#" class="с-block__topic c-btn c-btn--label t-btn--warning">Образование</a>
          </div>
          <div class="o-block__footer">
            <div class="с-block__title">Открытые системы. Опыты художественной самоорганизации в России</div>
            <div class="с-block__subtitle t-color--warning">До 8 февраля</div>
          </div>
        </section>
        <section class="o-block t-block--light block-7">
          <div class="o-block__footer">
            <div class="с-block__title">Праздник света</div>
            <div class="с-block__subtitle t-color--success">15-17 марта</div>
          </div>
        </section>
      </div> <!-- / u-col -->
      <div class="u-col">
        <section class="o-block t-block--small block-8">
          <div class="o-block__footer">
            <div class="с-block__heading">The Village</div>
            <div class="с-block__title">Новый год в музее русского импрессионизма. Фотоотчёт с лучшей вечеринки года</div>
          </div>
        </section>
        <section class="o-block block-9">
          <div class="o-block__header">
            <a href="#" class="с-block__topic c-btn c-btn--label t-btn--info">Выставки</a>
          </div>
          <div class="o-block__footer">
            <div class="с-block__title">Выставка Дмитрия Марголина</div>
            <div class="с-block__subtitle t-color--info">До 23 декабря</div>
          </div>
        </section>
      </div> <!-- / u-col -->
    </div> <!-- / container -->
  </main>
//= partials/_footer.html
