//= partials/_header.html
//= partials/_sidebar.html
  <main>
    <div class="container container--wide container--sh">
      <section class="o-block o-block--banner t-block--lead t-block--museum">
        <div class="o-block__footer">
          <h2 class="c-heading c-heading--huge t-heading--contrast">Музей</h2>
        </div>
      </section>
      <nav class="u-menu-container">
        <ul class="c-menu c-menu--hor js-menu-scroll">
          <li class="menu__item"><a href="#1" class="menu__link">История музея</a></li>
          <li class="menu__item"><a href="#2" class="menu__link">Здание музея</a></li>
          <li class="menu__item"><a href="#3" class="menu__link">Коллектив</a></li>
          <li class="menu__item"><a href="#4" class="menu__link">Вакансии</a></li>
          <li class="menu__item"><a href="#5" class="menu__link">Контакты</a></li>
          <li class="menu__item"><a href="#6" class="menu__link">Партнёры</a></li>
        </ul>
      </nav>
      <!-- section -->
      <section class="o-text">
        <h3 class="c-heading c-heading--big" id="1">История музея</h3>
        <p>Марина Елизарова, генеральный директор «Ювелирно-сбытовой компании»:  «Сегодня важно быть ближе к покупателю. И создание нашей компании — это шаг приблизиться к покупателю по стране. Если торговый дом «Адамант» занимается Москвой и Подмосковьем, то наша компания была создана для того, чтобы продавать продукцию завода «Адамант на территории России. У нас уже открыт офис в Самаре, в Перми, в Новосибирске. У нас большие планы по открытию.</p>
        <div class="o-flex-1-3">
          <div class="u-70">
            <img class="c-img c-img--rounded" src="img/demo/1437_BolshevikGallery_External_Side_Dusk_01.jpg" alt="">
          </div>
          <div class="u-flex u-30">
            <div class="u-50">
              <img class="c-img c-img--rounded" src="img/demo/1437_BolshevikGallery_External_Side_Dusk_01.jpg" alt="">
            </div>
            <section class="c-article u-50">
              <h4 class="c-heading c-heading--mid">Коллекция музея</h4>
              <p>Таким образом, ювелирный дом «Россия» станет ориентирован на самую широкую аудиторию.</p>
            </section>
          </div>
        </div>
      </section>
      <!-- / section -->
      <!-- section -->
      <section class="o-text">
        <h3 class="c-heading c-heading--big" id="2">Здание музея</h3>
        <p>Сергей Авакян, генеральный директор ювелирного дома «РОССИЯ»: «В холдинг входят пять компаний. Это всем известный завод «Адамант», творческая компания «Сирин», которая установила памятник Святому Владимиру в нашем городе, это две розничные ювелирные сети.</p>
        <section class="u-flex">
          <article class="c-article u-50">
            <img class="c-img c-img--rounded" src="img/demo/visit.jpg" alt="">
            <h4 class="c-heading c-heading--mid">До реставрации</h4>
            <p>Сергей Авакян, генеральный директор ювелирного дома «РОССИЯ»: «В холдинг входят пять компаний. Это всем известный завод «Адамант», творческая компания «Сирин», которая установила памятник Святому Владимиру в нашем городе, это две розничные ювелирные сети.</p>
          </article>
          <article class="c-article u-50">
            <img class="c-img c-img--rounded" src="img/demo/1437_BolshevikInternal_Basement_Grey.jpg" alt="">
            <h4 class="c-heading c-heading--mid">После реставрации</h4>
            <p>Диана Еднерал, директор по маркетингу ювелирного дома «РОССИЯ»: «Россия — это название и славное, и звучное, и ответственное. Будет ряд вопросов, но мы к ним готовы. Почему «Россия», почему мы решили объединить наши компании. И не только компании».</p>
          </article>
        </section>
      </section>
      <!-- / section -->
      <!-- section -->
      <section class="o-text">
        <h3 class="c-heading c-heading--big" id="3">Коллектив</h3>
        <p>Если торговый дом «Адамант» занимается Москвой и Подмосковьем, то наша компания была создана для того, чтобы продавать продукцию завода «Адамант на территории России. У нас уже открыт офис в Самаре, в Перми, в Новосибирске.</p>
        <div class="c-person">
          <img class="c-img c-img--rounded c-person__photo" src="img/demo/person5.jpg" alt="">
          <div class="c-person__name">Сергей Васильев</div>
          <div class="c-person__title">директор музея</div>
        </div>
        <div class="c-person">
          <img class="c-img c-img--rounded c-person__photo" src="img/demo/person1.jpg" alt="">
          <div class="c-person__name">Виктория Иванова</div>
          <div class="c-person__title">куратор</div>
        </div>
        <div class="c-person">
          <img class="c-img c-img--rounded c-person__photo" src="img/demo/person2.jpg" alt="">
          <div class="c-person__name">Анна Петрова</div>
          <div class="c-person__title">заведующий фондом</div>
        </div>
        <div class="c-person">
          <img class="c-img c-img--rounded c-person__photo" src="img/demo/person3.jpg" alt="">
          <div class="c-person__name">Дмитрий Ильин</div>
          <div class="c-person__title">начальник выставочного отдела</div>
        </div>
        <div class="c-person">
          <img class="c-img c-img--rounded c-person__photo" src="img/demo/person4.jpg" alt="">
          <div class="c-person__name">Антон Попов</div>
          <div class="c-person__title">дизайнер экспозиций</div>
        </div>
      </section>
      <!-- / section -->
      <!-- section -->
      <section class="o-text">
        <h3 class="c-heading c-heading--big" id="4">Вакансии</h3>
        <p>Если торговый дом «Адамант» занимается Москвой и Подмосковьем, то наша компания была создана для того, чтобы продавать продукцию завода «Адамант на территории России. У нас уже открыт офис в Самаре, в Перми, в Новосибирске.</p>
        <!-- accordion -->
        <div class="c-accordion">
          <div class="c-accordion__item">
            <div class="c-accordion__title js-accordion-toggler">
              Специалист в Образовательный отдел
            </div>
            <div class="c-accordion__text js-accordion-text">
              <p>Если торговый дом «Адамант» занимается Москвой и Подмосковьем, то наша компания была создана для того, чтобы продавать продукцию завода «Адамант на территории России. У нас уже открыт офис в Самаре, в Перми, в Новосибирске.</p>
              <h4>Требования</h4>
              <ul class="c-list">
                <li>образование не ниже среднего профессионального</li>
              </ul>
              <h4>Условия</h4>
              <ul class="c-list">
                <li>график работы – через сутки (12 часов)</li>
              </ul>
              <p>Заработная плата от 15 000 рублей</p>
            </div>
          </div>
          <div class="c-accordion__item">
            <div class="c-accordion__title js-accordion-toggler">
              Стажер в Выставочный отдел
            </div>
            <div class="c-accordion__text js-accordion-text">
              <p>Автор решительно игнорирует разговоры о кризисе изобразительного искусства и новаторские сентенции о грузе традиции, считая их не более чем модой. Живописная культура для него — скорее благо, дающее радость понимания, а диалог c традицией — мистический процесс, позволяющий художнику ощутить духовное родство с давно покинувшими этот мир мастерами.</p>
              <h4>Требования</h4>
              <ul class="c-list">
                <li>образование не ниже среднего профессионального</li>
              </ul>
              <h4>Условия</h4>
              <ul class="c-list">
                <li>график работы – через сутки (12 часов)</li>
              </ul>
              <p>Заработная плата от 15 000 рублей</p>
            </div>
          </div>
        </div>
        <!-- / accordion -->
      </section>
      <!-- / section -->
      <!-- section -->
      <section class="o-text">
        <h3 class="c-heading c-heading--big" id="5">Контакты</h3>
        <h4 class="c-heading c-heading--mid">Администратор</h4>
        <div class="u-flex">
          <article class="c-article u-50">
            <table class="c-table">
              <tr>
                <td><div class="c-headring--table">Телефон</div></td>
                <td>+7 495 570-47-58</td>
              </tr>
              <tr>
                <td><div class="c-headring--table">Факс</div></td>
                <td>+7 495 570-47-59</td>
              </tr>
              <tr>
                <td><div class="c-headring--table">E-mail</div></td>
                <td><a href="mailto:hello@mri.ru">hello@mri.ru</a></td>
              </tr>
            </table>
          </article>
          <article class="c-article u-50">
            <table class="c-table">
              <tr>
                <td><div class="c-headring--table">Телефон</div></td>
                <td>+7 495 570-47-58</td>
              </tr>
              <tr>
                <td><div class="c-headring--table">E-mail</div></td>
                <td><a href="mailto:hello@mri.ru">hello@mri.ru</a></td>
              </tr>
            </table>
          </article>
        </div>
        <hr>
        <article class="c-article">
          <h4 class="c-heading c-heading--mid">Почтовый адрес</h4>
          <p>Музей русского импрессионизма, Россия, 190000, Москва, Ленинградский проспект, д. 15, стр. 1</p>
        </article>
      </section>
      <!-- / section -->
      <!-- section -->
      <section class="o-text">
        <h3 class="c-heading c-heading--big" id="6">Партнёры</h3>
        <!-- partners -->
        <div class="c-parnters">
          <div class="c-partners__item">
            <div class="c-partners__img">
              <img src="img/demo/partner1.png" alt="">
            </div>
            <p class="c-partners__title">Официальный страховой партнер</p>
          </div>
          <div class="c-partners__item">
            <div class="c-partners__img">
              <img src="img/demo/partner2.png" alt="">
            </div>
            <p class="c-partners__title">Патрон образовательной программы</p>
          </div>
          <div class="c-partners__item">
            <div class="c-partners__img">
              <img src="img/demo/partner3.png" alt="">
            </div>
            <p class="c-partners__title">Информационный партнер</p>
          </div>
        </div>
        <!-- / partners -->
      </section>
      <!-- / section -->
    </div> <!-- / container -->
  </main>
//= partials/_footer.html
