//= partials/_header.html
//= partials/_sidebar.html
  <main>
    <div class="container">
      <h2 class="c-heading c-heading--huge">Поиск событий</h2>
      <form action="#" class="c-search">
        <input type="search" class="c-search__input" placeholder="Поиск события">
      </form>
      <!-- results 1 -->
      <section class="c-search-results">
        <h3 class="c-heading c-heading--big">События <span class="c-search__count">8</span></h3>
        <!-- результаты поиска событий -->
        <div class="js-search-slider">
          <div class="c-search__nav-cont">
            <div class="c-search__nav js-slider-nav"></div>
          </div>
          <section class="o-block block-2 c-search__item js-search-item">
            <div class="o-block__header">
              <a href="#" class="с-block__topic c-btn c-btn--label t-btn--success">Мероприятия</a>
            </div>
            <div class="o-block__footer">
              <div class="с-block__title">Искусство и его исторические координаты</div>
              <div class="с-block__subtitle t-color--success">С 6 ноября</div>
            </div>
          </section>
          <section class="o-block block-4 c-search__item js-search-item">
            <div class="o-block__header">
              <a href="#" class="с-block__topic c-btn c-btn--label t-btn--danger">Кинотеатр</a>
            </div>
            <div class="o-block__footer">
              <div class="с-block__title">Даунтаун 81 /<br>Downtown 81</div>
              <div class="с-block__subtitle t-color--danger">До 23 декабря</div>
            </div>
          </section>
          <section class="o-block block-6 c-search__item js-search-item">
            <div class="o-block__header">
              <a href="#" class="с-block__topic c-btn c-btn--label t-btn--warning">Образование</a>
            </div>
            <div class="o-block__footer">
              <div class="с-block__title">Открытые системы. Опыты художественной самоорганизации в России</div>
              <div class="с-block__subtitle t-color--warning">До 8 февраля</div>
            </div>
          </section>
          <section class="o-block block-2 c-search__item js-search-item">
            <div class="o-block__header">
              <a href="#" class="с-block__topic c-btn c-btn--label t-btn--success">Мероприятия</a>
            </div>
            <div class="o-block__footer">
              <div class="с-block__title">Искусство и его исторические координаты</div>
              <div class="с-block__subtitle t-color--success">С 6 ноября</div>
            </div>
          </section>
          <section class="o-block block-4 c-search__item js-search-item">
            <div class="o-block__header">
              <a href="#" class="с-block__topic c-btn c-btn--label t-btn--danger">Кинотеатр</a>
            </div>
            <div class="o-block__footer">
              <div class="с-block__title">Даунтаун 81 /<br>Downtown 81</div>
              <div class="с-block__subtitle t-color--danger">До 23 декабря</div>
            </div>
          </section>
          <section class="o-block block-6 c-search__item js-search-item">
            <div class="o-block__header">
              <a href="#" class="с-block__topic c-btn c-btn--label t-btn--warning">Образование</a>
            </div>
            <div class="o-block__footer">
              <div class="с-block__title">Открытые системы. Опыты художественной самоорганизации в России</div>
              <div class="с-block__subtitle t-color--warning">До 8 февраля</div>
            </div>
          </section>
        </div>
        <!-- / результаты поиска событий -->
      </section>
      <!-- / results 1 -->
      <!-- results 2 -->
      <section class="c-search-results">
        <h3 class="c-heading c-heading--big">Архив <span class="c-search__count">6</span></h3>
        <!-- результаты поиска событий в архиве -->
        <div class="js-search-slider">
          <div class="c-search__nav-cont">
            <div class="c-search__nav js-slider-nav"></div>
          </div>
          <section class="o-block block-4 c-search__item js-search-item">
            <div class="o-block__header">
              <a href="#" class="с-block__topic c-btn c-btn--label t-btn--danger">Кинотеатр</a>
            </div>
            <div class="o-block__footer">
              <div class="с-block__title">Даунтаун 81 /<br>Downtown 81</div>
              <div class="с-block__subtitle t-color--danger">До 23 декабря</div>
            </div>
          </section>
          <section class="o-block block-6 c-search__item js-search-item">
            <div class="o-block__header">
              <a href="#" class="с-block__topic c-btn c-btn--label t-btn--warning">Образование</a>
            </div>
            <div class="o-block__footer">
              <div class="с-block__title">Открытые системы. Опыты художественной самоорганизации в России</div>
              <div class="с-block__subtitle t-color--warning">До 8 февраля</div>
            </div>
          </section>
          <section class="o-block block-2 c-search__item js-search-item">
            <div class="o-block__header">
              <a href="#" class="с-block__topic c-btn c-btn--label t-btn--success">Мероприятия</a>
            </div>
            <div class="o-block__footer">
              <div class="с-block__title">Искусство и его исторические координаты</div>
              <div class="с-block__subtitle t-color--success">С 6 ноября</div>
            </div>
          </section>
          <section class="o-block block-4 c-search__item js-search-item">
            <div class="o-block__header">
              <a href="#" class="с-block__topic c-btn c-btn--label t-btn--danger">Кинотеатр</a>
            </div>
            <div class="o-block__footer">
              <div class="с-block__title">Даунтаун 81 /<br>Downtown 81</div>
              <div class="с-block__subtitle t-color--danger">До 23 декабря</div>
            </div>
          </section>
          <section class="o-block block-6 c-search__item js-search-item">
            <div class="o-block__header">
              <a href="#" class="с-block__topic c-btn c-btn--label t-btn--warning">Образование</a>
            </div>
            <div class="o-block__footer">
              <div class="с-block__title">Открытые системы. Опыты художественной самоорганизации в России</div>
              <div class="с-block__subtitle t-color--warning">До 8 февраля</div>
            </div>
          </section>
          <section class="o-block block-2 c-search__item js-search-item">
            <div class="o-block__header">
              <a href="#" class="с-block__topic c-btn c-btn--label t-btn--success">Мероприятия</a>
            </div>
            <div class="o-block__footer">
              <div class="с-block__title">Искусство и его исторические координаты</div>
              <div class="с-block__subtitle t-color--success">С 6 ноября</div>
            </div>
          </section>
        </div>
        <!-- / результаты поиска событий в архиве -->
      </section>
      <!-- / results 2 -->
    </div> <!-- / container -->
  </main>
//= partials/_footer.html
