//= partials/_header.html
//= partials/_sidebar.html
  <main>
    <div class="container container--wide">
      <!-- верхний блок -->
      <section class="o-text">
        <h2 class="c-heading c-heading--huge">Правила посещения музея</h2>
        <p>Увлеченный живописью художник сродни визионеру, способному видефять то, что недоступно остальным. Природа такого острого взгляда предполагает распад существующих причинно-следственных связей: предмет перестает быть просто образом-символом, зафиксированным в языке и сознании и превращается в нечто большее.</p>
      </section>
      <!-- / верхний блок -->
      <!-- section -->
      <section class="o-text">
        <div class="o-flex-1-3">
          <article class="u-70">
            <h2 class="c-heading c-heading--big">История музея</h3>
            <p>Увлеченный живописью художник сродни визионеру, способному видефять то, что недоступно остальным. Природа такого острого взгляда предполагает распад существующих причинно-следственных связей: предмет перестает быть просто образом-символом, зафиксированным в языке и сознании и превращается в нечто большее.</p>
            <p>Годы ученичества и творческий опыт Дмитрия Марголина свидетельствуют о том, что техническими премудростями он овладел в совершенстве. При этом он последовал по пути упрощения художественного языка.</p>
            <blockquote>
              <p>С 8 октября в Музее русского импрессионизма будет работать выставка петербургского художника Дмитрия Марголина.</p>
              <cite>— Алексей Иванов, куратор выставки</cite>
            </blockquote>
            <p>В картинах Дмитрия Марголина отчетливо прослеживается вечный диалог художника с традицией. Автор решительно игнорирует разговоры о кризисе изобразительного искусства и новаторские сентенции о грузе традиции, считая их не более чем модой. Живописная культура для него — скорее благо, дающее радость понимания, а диалог c традицией — мистический процесс, позволяющий художнику ощутить духовное родство с давно покинувшими этот мир мастерами.</p>
          </article>
          <aside class="u-flex u-30">
            <!-- 1 -->
            <div class="u-50">
              <img class="c-img c-img--rounded" src="img/demo/1437_BolshevikGallery_External_Side_Dusk_01.jpg" alt="">
              <h4 class="c-heading c-heading--mid">Коллекция музея</h4>
              <p>Таким образом, ювелирный дом «Россия» станет ориентирован на самую широкую аудиторию.</p>
            </div>

            <!-- 2 -->
            <div class="u-50 t-color--neutral">
              <img class="c-img c-img--rounded" src="img/demo/1437_BolshevikGallery_External_Side_Dusk_01.jpg" alt="">
              <p>Таким образом, ювелирный дом «Россия» станет ориентирован на самую широкую аудиторию.</p>
            </div>
          </aside>
        </div>
        <hr>
        <section>
          <h3 class="c-heading c-heading--big" id="6">Дополнительно</h3>
          <div class="u-flex">
            <article class="c-article u-50">
              <h4 class="c-heading c-heading--mid">Доступность</h4>
              <p>Музей полностью оборудован для посетителей с ограниченными возможностями: в здании есть просторный лифт, а у входа пандус.</p>
            </article>
            <article class="c-article u-50">
              <h4 class="c-heading c-heading--mid">Фотосъемка</h4>
              <p>В нашем музее не разрешены фото- и видеосъемка.</p>
            </article>
          </div>
        </section>

        <hr>
        <section>
          <h3 class="c-heading c-heading--big" id="3">Дополнительно</h3>
          <div class="u-70">
            <p>Музей полностью оборудован для посетителей с ограниченными возможностями: в здании есть просторный лифт, а у входа пандус.</p>
            <ul class="c-list">
              <li>В картинах Дмитрия Марголина отчетливо прослеживается вечный диалог художника с традицией.</li>
              <li>Автор решительно игнорирует разговоры о кризисе изобразительного искусства и новаторские сентенции о грузе традиции, считая их не более чем модой.</li>
              <li>Живописная культура для него — скорее благо, дающее радость понимания, а диалог c традицией — мистический процесс, позволяющий художнику ощутить духовное родство с давно покинувшими этот мир мастерами.</li>
            </ul>
          </div>

          <aside class="u-flex u-30">
            <!-- 1 -->
            <div class="u-50 t-color--neutral">
              <img class="c-img c-img--rounded" src="img/demo/1437_BolshevikGallery_External_Side_Dusk_01.jpg" alt="">
              <p>Таким образом, ювелирный дом «Россия» станет ориентирован на самую широкую аудиторию.</p>
            </div>

            <!-- 2 -->
            <div class="u-50 t-color--neutral">
              <img class="c-img c-img--rounded" src="img/demo/1437_BolshevikGallery_External_Side_Dusk_01.jpg" alt="">
              <p>Таким образом, ювелирный дом «Россия» станет ориентирован на самую широкую аудиторию.</p>
            </div>
          </aside>
        </section>
      </section>

      <section class="o-text">
        <h3 class="c-heading c-heading--big" id="3">Дополнительно</h3>
        <div class="u-70">
          <p>Музей полностью оборудован для посетителей с ограниченными возможностями: в здании есть просторный лифт, а у входа пандус.</p>
          <ul class="c-list">
            <li>В картинах Дмитрия Марголина отчетливо прослеживается вечный диалог художника с традицией.</li>
            <li>Автор решительно игнорирует разговоры о кризисе изобразительного искусства и новаторские сентенции о грузе традиции, считая их не более чем модой.</li>
            <li>Живописная культура для него — скорее благо, дающее радость понимания, а диалог c традицией — мистический процесс, позволяющий художнику ощутить духовное родство с давно покинувшими этот мир мастерами.</li>
          </ul>
        </div>

        <aside class="u-flex c-gallery">
          <!-- 1 -->
          <div class="u-70">
            <img class="c-img c-img--rounded" src="img/demo/1437_BolshevikGallery_External_Side_Dusk_01.jpg" alt="">
          </div>
          <!-- 2 -->
          <div class="u-30">
            <h4 class="c-heading c-heading--mid" style="margin-top: 0;">Коллекция музея</h4>
            <p>Таким образом, ювелирный дом «Россия» станет ориентирован на самую широкую аудиторию.</p>
          </div>
          <!-- 3 -->
          <div class="u-30">
            <img class="c-img c-img--rounded" src="img/demo/1437_BolshevikGallery_External_Side_Dusk_01.jpg" alt="">
          </div>
          <!-- 4 -->
          <div class="u-30">
            <img class="c-img c-img--rounded" src="img/demo/1437_BolshevikGallery_External_Side_Dusk_01.jpg" alt="">
          </div>
          <!-- 5 -->
          <div class="u-30">
            <img class="c-img c-img--rounded" src="img/demo/1437_BolshevikGallery_External_Side_Dusk_01.jpg" alt="">
          </div>
        </aside>

      </section>
      <!-- / section -->
    </div> <!-- / container -->
  </main>
//= partials/_footer.html
