//= partials/_header.html
//= partials/_sidebar.html
  <main>
    <div class="container container--wide">
      <!-- заголовок страницы -->
      <section class="o-block o-block--banner t-block--lead t-block--visit">
        <div class="o-block__footer">
          <h2 class="c-heading c-heading--huge t-heading--contrast">Купить билеты</h2>
        </div>
      </section>
      <nav class="u-menu-container">
        <ul class="c-menu c-menu--hor js-menu-scroll">
          <li class="menu__item"><a href="#1" class="menu__link">События</a></li>
          <li class="menu__item"><a href="#2" class="menu__link">Абонемент</a></li>
        </ul>
      </nav>
      <!-- / заголовок страницы -->
      <!-- container -->
      <div class="container">
        <!-- события -->
        <section class="c-calendar__results">
          <h3 class="c-heading c-heading--big" id="1">События <span class="c-datepicker"><input type="text" id="js-date" value="7 января" readonly=""></span></h3>
          <!-- фильтр -->
          <!-- нужно чтобы при клике на кнопку выводились события соответствующего типа -->
          <div class="c-filter">
            <a class="c-btn c-btn--label t-btn-bg--grey t-btn-h--dark js-btn is-active" href="#">Все</a>
            <a class="c-btn c-btn--label t-btn-bg--grey t-btn-h--info js-btn" href="#">Выставки</a>
            <a class="c-btn c-btn--label t-btn-bg--grey t-btn-h--warning js-btn" href="#">Образование</a>
            <a class="c-btn c-btn--label t-btn-bg--grey t-btn-h--danger js-btn" href="#">Кинотеатр</a>
            <a class="c-btn c-btn--label t-btn-bg--grey t-btn-h--success js-btn" href="#">Мероприятия</a>
          </div>
          <!-- / фильтр -->
          <!-- list -->
          <section class="c-calendar__results">
            <!-- 1 -->
            <section class="o-ticket">
              <!-- фото -->
              <div class="o-block--img block-1">
              </div>
              <!-- / фото -->
              <!-- text-inner -->
              <div class="c-text-inner">
                <h4 class="c-heading c-heading--mid">"Страсти". Выставка Дмитрия Марголина</h4>
                <div class="c-ticket__description"><p>Даёт право на неограниченное посещение выставок, мероприятий и образовательных программ музея в течение года (если не указано обратное), а также скидку 15% в магазине музея.</p></div>
              </div>
              <!-- / text-inner -->
              <!-- text-inner -->
              <div class="c-text-inner c-ticket__info-container">
                <span class="c-ticket__info c-ticket__time c-ticket__time--warning">10:00 - 22:00</span>
                <span class="c-ticket__info c-ticket__price c-ticket__price--warning">7000 руб.</span>

                <!-- dropdown -->
                <div class="dropdown c-ticket__info dropdown--ticket">
                  <button class="c-btn t-btn--warning js-dropdown-toggler">Регистрация</button>
                  <div class="dropdown__menu js-dropdown-menu">
                    <form action="#pay">
                      <div class="dropdown__list">
                        <!-- email -->
                        <label for="reg-email"><strong>Введите e-mail, на который будет отправлен билет:</strong></label>
                        <input type="email" class="c-input c-input--field" id="reg-email">
                        <!-- /email -->
                        <!-- payment -->
                        <strong>Выберите способ оплаты:</strong>
                        <div class="c-input-group">
                          <input class="c-input c-input--radio" type="radio" name="pay" id="card" checked>
                          <label class="c-input--label" for="card"><span class="icon-card"></span></label>
                        </div>
                        <div class="c-input-group">
                          <input class="c-input c-input--radio" type="radio" name="pay" id="yandex">
                          <label class="c-input--label" for="yandex"><span class="icon-yandex"></span></label>
                        </div>
                        <div class="c-input-group">
                          <input class="c-input c-input--radio" type="radio" name="pay" id="rbk">
                          <label class="c-input--label" for="rbk"><span class="icon-rbk"></span></label>
                        </div>
                        <!-- / payment -->
                        <div class="c-small-text c-small-text--license">
                          <span class="u-w-50">
                            Я соглашаюсь с условиями<br><a href="#">пользовательского соглашения</a>
                          </span>
                          <span class="u-fl-r u-ta-r u-w-30">
                            <input class="c-input c-input--radio" type="checkbox" name="pay" id="agree" checked>
                            <label class="c-input--label" for="agree"></label>
                          </span>
                        </div>
                        <div class="result">
                          <span class="u-w-50">Итого:</span>
                          <span class="u-fl-r u-ta-r u-w-50">500 руб.</span>
                        </div>
                      </div>
                      <button class="c-btn t-btn--info" type="submit" id="js-show-modal">Перейти к оплате</button>
                      <p class="c-small-text c-small-text--help">Служба поддержки: +7 499 123 4567, help@pay.ru</p>
                      <!-- если не выбран ни один из вариантов то для кнопки добавляется атрибут disabled, и она станет серая -->
                      <!-- <button class="c-btn t-btn--info" type="submit" disabled>Перейти к оплате</button> -->
                    </form>
                  </div>
                </div>
                <!-- / dropdown -->
              </div>
              <!-- /text-inner -->
            </section> <!-- / 1 -->

            <!-- 1 -->
            <section class="o-ticket">
              <!-- фото -->
              <div class="o-block--img block-1">
              </div>
              <!-- / фото -->
              <!-- text-inner -->
              <div class="c-text-inner">
                <h4 class="c-heading c-heading--mid">"Страсти". Выставка Дмитрия Марголина</h4>
                <div class="c-ticket__description"><p>Даёт право на неограниченное посещение выставок, мероприятий и образовательных программ музея в течение года (если не указано обратное), а также скидку 15% в магазине музея.</p></div>
              </div>
              <!-- / text-inner -->
              <!-- text-inner -->
              <div class="c-text-inner c-ticket__info-container">
                <span class="c-ticket__info c-ticket__time c-ticket__time--success">10:00 - 22:00</span>
                <span class="c-ticket__info c-ticket__price c-ticket__price--success">7000 руб.</span>

                <!-- dropdown -->
                <div class="dropdown c-ticket__info dropdown--ticket">
                  <button class="c-btn t-btn--success js-dropdown-toggler">Регистрация</button>
                  <div class="dropdown__menu js-dropdown-menu">
                    <form action="#pay">
                      <div class="dropdown__list">
                        <!-- email -->
                        <label for="reg-email"><strong>Введите e-mail, на который будет отправлен билет:</strong></label>
                        <input type="email" class="c-input c-input--field" id="reg-email">
                        <!-- /email -->
                        <!-- payment -->
                        <strong>Выберите способ оплаты:</strong>
                        <div class="c-input-group">
                          <input class="c-input c-input--radio" type="radio" name="pay" id="card" checked>
                          <label class="c-input--label" for="card"><span class="icon-card"></span></label>
                        </div>
                        <div class="c-input-group">
                          <input class="c-input c-input--radio" type="radio" name="pay" id="yandex">
                          <label class="c-input--label" for="yandex"><span class="icon-yandex"></span></label>
                        </div>
                        <div class="c-input-group">
                          <input class="c-input c-input--radio" type="radio" name="pay" id="rbk">
                          <label class="c-input--label" for="rbk"><span class="icon-rbk"></span></label>
                        </div>
                        <!-- / payment -->
                        <div class="c-small-text c-small-text--license">
                          <span class="u-w-50">
                            Я соглашаюсь с условиями<br><a href="#">пользовательского соглашения</a>
                          </span>
                          <span class="u-fl-r u-ta-r u-w-30">
                            <input class="c-input c-input--radio" type="checkbox" name="pay" id="agree" checked>
                            <label class="c-input--label" for="agree"></label>
                          </span>
                        </div>
                        <div class="result">
                          <span class="u-w-50">Итого:</span>
                          <span class="u-fl-r u-ta-r u-w-50">500 руб.</span>
                        </div>
                      </div>
                      <button class="c-btn t-btn--info" type="submit" id="js-show-modal">Перейти к оплате</button>
                      <p class="c-small-text c-small-text--help">Служба поддержки: +7 499 123 4567, help@pay.ru</p>
                      <!-- если не выбран ни один из вариантов то для кнопки добавляется атрибут disabled, и она станет серая -->
                      <!-- <button class="c-btn t-btn--info" type="submit" disabled>Перейти к оплате</button> -->
                    </form>
                  </div>
                </div>
                <!-- / dropdown -->
              </div>
              <!-- /text-inner -->
            </section> <!-- / 1 -->

            <!-- 1 -->
            <section class="o-ticket">
              <!-- фото -->
              <div class="o-block--img block-1">
              </div>
              <!-- / фото -->
              <!-- text-inner -->
              <div class="c-text-inner">
                <h4 class="c-heading c-heading--mid">"Страсти". Выставка Дмитрия Марголина</h4>
                <div class="c-ticket__description"><p>Даёт право на неограниченное посещение выставок, мероприятий и образовательных программ музея в течение года (если не указано обратное), а также скидку 15% в магазине музея.</p></div>
              </div>
              <!-- / text-inner -->
              <!-- text-inner -->
              <div class="c-text-inner c-ticket__info-container">
                <span class="c-ticket__info c-ticket__time c-ticket__time--info">10:00 - 22:00</span>
                <span class="c-ticket__info c-ticket__price c-ticket__price--info">7000 руб.</span>

                <!-- dropdown -->
                <div class="dropdown c-ticket__info dropdown--ticket">
                  <button class="c-btn t-btn--info js-dropdown-toggler">Регистрация</button>
                  <div class="dropdown__menu js-dropdown-menu">
                    <form action="#pay">
                      <div class="dropdown__list">
                        <!-- email -->
                        <label for="reg-email"><strong>Введите e-mail, на который будет отправлен билет:</strong></label>
                        <input type="email" class="c-input c-input--field" id="reg-email">
                        <!-- /email -->
                        <!-- payment -->
                        <strong>Выберите способ оплаты:</strong>
                        <div class="c-input-group">
                          <input class="c-input c-input--radio" type="radio" name="pay" id="card" checked>
                          <label class="c-input--label" for="card"><span class="icon-card"></span></label>
                        </div>
                        <div class="c-input-group">
                          <input class="c-input c-input--radio" type="radio" name="pay" id="yandex">
                          <label class="c-input--label" for="yandex"><span class="icon-yandex"></span></label>
                        </div>
                        <div class="c-input-group">
                          <input class="c-input c-input--radio" type="radio" name="pay" id="rbk">
                          <label class="c-input--label" for="rbk"><span class="icon-rbk"></span></label>
                        </div>
                        <!-- / payment -->
                        <div class="c-small-text c-small-text--license">
                          <span class="u-w-50">
                            Я соглашаюсь с условиями<br><a href="#">пользовательского соглашения</a>
                          </span>
                          <span class="u-fl-r u-ta-r u-w-30">
                            <input class="c-input c-input--radio" type="checkbox" name="pay" id="agree" checked>
                            <label class="c-input--label" for="agree"></label>
                          </span>
                        </div>
                        <div class="result">
                          <span class="u-w-50">Итого:</span>
                          <span class="u-fl-r u-ta-r u-w-50">500 руб.</span>
                        </div>
                      </div>
                      <button class="c-btn t-btn--info" type="submit" id="js-show-modal">Перейти к оплате</button>
                      <p class="c-small-text c-small-text--help">Служба поддержки: +7 499 123 4567, help@pay.ru</p>
                      <!-- если не выбран ни один из вариантов то для кнопки добавляется атрибут disabled, и она станет серая -->
                      <!-- <button class="c-btn t-btn--info" type="submit" disabled>Перейти к оплате</button> -->
                    </form>
                  </div>
                </div>
                <!-- / dropdown -->
              </div>
              <!-- /text-inner -->
            </section> <!-- / 1 -->

            <!-- 1 -->
            <section class="o-ticket">
              <!-- фото -->
              <div class="o-block--img block-4">
              </div>
              <!-- / фото -->
              <!-- text-inner -->
              <div class="c-text-inner">
                <h4 class="c-heading c-heading--mid">Даунтаун 81</h4>
                <div class="c-ticket__description"><p>Даёт право на неограниченное посещение выставок, мероприятий и образовательных программ музея в течение года (если не указано обратное), а также скидку 15% в магазине музея.</p></div>
              </div>
              <!-- / text-inner -->
              <!-- text-inner -->
              <div class="c-text-inner c-ticket__info-container">
                <span class="c-ticket__info c-ticket__time c-ticket__time--danger">10:00 - 22:00</span>
                <span class="c-ticket__info c-ticket__price c-ticket__price--danger">Бесплатно</span>

                <!-- dropdown -->
                <div class="dropdown c-ticket__info dropdown--ticket">
                  <button class="c-btn t-btn--danger js-dropdown-toggler">Купить</button>
                  <div class="dropdown__menu js-dropdown-menu">
                    <form action="#pay">
                      <ul class="dropdown__list">
                        <li>
                          <span class="u-w-50">Взрослые <span>х <output>1</output></span></span>
                          <span class="u-fl-r u-ta-r u-w-50"><button class="c-btn c-btn--small t-btn-e--info t-btn-h--info">300 руб.</button><button class="c-btn--del js-del">&#10060;</button></span>
                        </li>
                        <li>
                          <span class="u-w-50">Студенты</span>
                          <span class="u-fl-r u-ta-r u-w-50"><button class="c-btn c-btn--small t-btn-e--info t-btn-h--info">150 руб.</button></span>
                        </li>
                        <li>
                          <span class="u-w-50">Школьники <span>х <output>2</output></span></span>
                          <span class="u-fl-r u-ta-r u-w-50"><button class="c-btn c-btn--small t-btn-e--info t-btn-h--info">100 руб.</button><button class="c-btn--del js-del">&#10060;</button></span>
                        </li>
                        <li>
                          <span class="u-w-50">Пенсионеры</span>
                          <span class="u-fl-r u-ta-r u-w-50"><button class="c-btn c-btn--small t-btn-e--info t-btn-h--info">100 руб.</button></span>
                        </li>
                        <li>
                          <span class="u-w-50">Инвалиды</span>
                          <span class="u-fl-r u-ta-r u-w-50">Бесплатно</span>
                        </li>
                        <li class="result">
                          <span class="u-w-50">Итого:</span>
                          <span class="u-fl-r u-ta-r u-w-50">500 руб.</span>
                        </li>
                        <!-- если не выбран ни один из вариантов то для result добавляется класс disabled, и она станет серая -->
                        <!--
                          <li class="result disabled">
                            <span class="u-w-50">Итого:</span>
                            <span class="u-fl-r u-ta-r u-w-50">500 руб.</span>
                          </li>
                        -->
                      </ul>
                      <button class="c-btn t-btn--info" type="submit">Перейти к оплате</button>
                      <!-- если не выбран ни один из вариантов то для кнопки добавляется атрибут disabled, и она станет серая -->
                      <!-- <button class="c-btn t-btn--info" type="submit" disabled>Перейти к оплате</button> -->
                    </form>
                  </div>
                </div>
                <!-- / dropdown -->
              </div>
              <!-- /text-inner -->
            </section> <!-- / 1 -->

          </section>
          <!-- / list -->
        </section>
        <!-- / события -->
        <!-- Абонемент -->
        <section class="c-calendar__results">
          <h3 class="c-heading c-heading--big" id="2">Абонемент</h3>

          <section class="o-ticket">
            <!-- фото -->
            <div class="o-block--img block-4">
            </div>
            <!-- / фото -->
            <!-- text-inner -->
            <div class="c-text-inner">
              <h4 class="c-heading c-heading--mid">Годовой абонемент</h4>
              <p>Даёт право на неограниченное посещение выставок, мероприятий и образовательных программ музея в течение года (если не указано обратное), а также скидку 15% в магазине музея.</p>
            </div>
            <!-- / text-inner -->
            <!-- text-inner -->
            <div class="c-text-inner c-ticket__info-container">
              <span class="c-ticket__info c-ticket__time c-ticket__time--info">Один год</span>
              <span class="c-ticket__info c-ticket__price c-ticket__price--info">7000 руб.</span>

              <!-- dropdown -->
              <div class="dropdown c-ticket__info dropdown--ticket">
                <button class="c-btn t-btn--info js-dropdown-toggler">Купить абонемент</button>
                <div class="dropdown__menu js-dropdown-menu">
                  <form action="#pay">
                    <ul class="dropdown__list">
                      <li>
                        <span class="u-w-50">Взрослые <span>х <output>1</output></span></span>
                        <span class="u-fl-r u-ta-r u-w-50"><button class="c-btn c-btn--small t-btn-e--info t-btn-h--info">300 руб.</button><button class="c-btn--del js-del">&#10060;</button></span>
                      </li>
                      <li>
                        <span class="u-w-50">Студенты</span>
                        <span class="u-fl-r u-ta-r u-w-50"><button class="c-btn c-btn--small t-btn-e--info t-btn-h--info">150 руб.</button></span>
                      </li>
                      <li>
                        <span class="u-w-50">Школьники <span>х <output>2</output></span></span>
                        <span class="u-fl-r u-ta-r u-w-50"><button class="c-btn c-btn--small t-btn-e--info t-btn-h--info">100 руб.</button><button class="c-btn--del js-del">&#10060;</button></span>
                      </li>
                      <li>
                        <span class="u-w-50">Пенсионеры</span>
                        <span class="u-fl-r u-ta-r u-w-50"><button class="c-btn c-btn--small t-btn-e--info t-btn-h--info">100 руб.</button></span>
                      </li>
                      <li>
                        <span class="u-w-50">Инвалиды</span>
                        <span class="u-fl-r u-ta-r u-w-50">Бесплатно</span>
                      </li>
                      <li class="result">
                        <span class="u-w-50">Итого:</span>
                        <span class="u-fl-r u-ta-r u-w-50">500 руб.</span>
                      </li>
                      <!-- если не выбран ни один из вариантов то для result добавляется класс disabled, и она станет серая -->
                      <!--
                        <li class="result disabled">
                          <span class="u-w-50">Итого:</span>
                          <span class="u-fl-r u-ta-r u-w-50">500 руб.</span>
                        </li>
                      -->
                    </ul>
                    <button class="c-btn t-btn--info" type="submit">Перейти к оплате</button>
                    <!-- если не выбран ни один из вариантов то для кнопки добавляется атрибут disabled, и она станет серая -->
                    <!-- <button class="c-btn t-btn--info" type="submit" disabled>Перейти к оплате</button> -->
                  </form>
                </div>
              </div>
              <!-- / dropdown -->
            </div>
            <!-- /text-inner -->
          </section>

        </section>
        <!-- / Абонемент -->
      </div>  <!-- / container -->
    </div> <!-- / container -->
  </main>
//= partials/_modal.html
//= partials/_footer.html
