//= partials/_header.html
//= partials/_sidebar.html
  <main>
    <div class="container">
      <div class="share">
        <!-- Facebook button -->
        <a class="share-btn share-btn-big share-btn-facebook"
           href="https://www.facebook.com"
           title="Share on Facebook">
          <span class="share-btn-icon"></span>
          <span class="share-btn-text">160 чел.</span>
        </a>

        <!-- vk button -->
        <a class="share-btn share-btn-big share-btn-vk"
           href="https://www.vk.com"
           title="Share on Vk">
          <span class="share-btn-icon"></span>
          <span class="share-btn-text">124 чел.</span>
        </a>
      </div>
      <div class="share">
        <!-- Twitter button -->
        <a class="share-btn share-btn-twitter"
           href="https://twitter.com"
           title="Share on Twitter">
          <span class="share-btn-icon"></span>
          <span class="share-btn-text">Твитнуть</span>
        </a>

        <!-- Facebook button -->
        <a class="share-btn share-btn-facebook"
           href="https://www.facebook.com"
           title="Share on Facebook">
          <span class="share-btn-icon"></span>
          <span class="share-btn-text">Поделиться</span>
        </a>

        <!-- vk button -->
        <a class="share-btn share-btn-vk"
           href="https://www.vk.com"
           title="Share on Vk">
          <span class="share-btn-icon"></span>
          <span class="share-btn-text">Поделиться</span>
        </a>

        <!-- g+ button -->
        <a class="share-btn share-btn-gp"
           href="https://www.google.com/plus"
           title="Share on G+">
          <span class="share-btn-icon"></span>
          <span class="share-btn-text">Плюсануть</span>
        </a>

        <!-- ok button -->
        <a class="share-btn share-btn-ok"
           href="https://www.google.com/plus"
           title="Share on OK">
          <span class="share-btn-icon"></span>
          <span class="share-btn-text">Запинить</span>
        </a>
      </div>
      <br>
      <div>
        <a class="c-btn c-btn--label t-btn-bg--grey t-btn-h--dark js-btn" href="#">Все</a>
        <a class="c-btn c-btn--label t-btn-bg--grey t-btn-h--info js-btn" href="#">Выставки</a>
        <a class="c-btn c-btn--label t-btn-bg--grey t-btn-h--warning js-btn" href="#">Образование</a>
        <a class="c-btn c-btn--label t-btn-bg--grey t-btn-h--danger js-btn" href="#">Кинотеатр</a>
        <a class="c-btn c-btn--label t-btn-bg--grey t-btn-h--success js-btn" href="#">Мероприятия</a>
      </div>
      <br>
      <div>
        <a class="c-btn t-btn--dark" href="#">Купить билеты</a>
        <a class="c-btn t-btn--info" href="#">Купить билеты</a>
        <a class="c-btn t-btn--warning" href="#">Купить билеты</a>
        <a class="c-btn t-btn--danger" href="#">Купить билеты</a>
        <a class="c-btn t-btn--success" href="#">Купить билеты</a>
      </div>
      <br>
      <div>
        <a class="c-btn t-btn-e--info t-btn-h--info" href="#">Добавить в календарь</a>
        <a class="c-btn t-btn-e--warning t-btn-h--warning" href="#">Добавить в календарь</a>
        <a class="c-btn t-btn-e--danger t-btn-h--danger" href="#">Добавить в календарь</a>
        <a class="c-btn t-btn-e--success t-btn-h--success" href="#">Добавить в календарь</a>
      </div>
      <br>
      <div>
        <a class="c-btn t-btn--map" href="#">Смотреть на карте</a>
      </div>
      <br>
      <div>
        <div class="dropdown">
          <button class="c-btn t-btn--info js-dropdown-toggler" href="#">Купить билеты</button>
          <div class="dropdown__menu js-dropdown-menu">
            <ul class="dropdown__list">
              <li><span><a href="#">Google Календарь</a></span></li>
              <li><span><a href="#">Yandex Календарь</a></span></li>
              <li><span><a href="#">Ical Календарь</a></span></li>
            </ul>
          </div>
        </div>
        <!-- dropdown -->
        <div class="dropdown">
          <button class="c-btn t-btn--info js-dropdown-toggler" href="#">Купить билеты</button>
          <div class="dropdown__menu js-dropdown-menu">
            <form action="#pay">
              <ul class="dropdown__list">
                <li>
                  <span class="u-w-50">Взрослые <span>х <output>1</output></span></span>
                  <span class="u-fl-r u-ta-r u-w-50"><button class="c-btn c-btn--small t-btn-e--info t-btn-h--info">300 руб.</button><button class="c-btn--del js-del">&#10060;</button></span>
                </li>
                <li>
                  <span class="u-w-50">Студенты</span>
                  <span class="u-fl-r u-ta-r u-w-50"><button class="c-btn c-btn--small t-btn-e--info t-btn-h--info">150 руб.</button></span>
                </li>
                <li>
                  <span class="u-w-50">Школьники <span>х <output>2</output></span></span>
                  <span class="u-fl-r u-ta-r u-w-50"><button class="c-btn c-btn--small t-btn-e--info t-btn-h--info">100 руб.</button><button class="c-btn--del js-del">&#10060;</button></span>
                </li>
                <li>
                  <span class="u-w-50">Пенсионеры</span>
                  <span class="u-fl-r u-ta-r u-w-50"><button class="c-btn c-btn--small t-btn-e--info t-btn-h--info">100 руб.</button></span>
                </li>
                <li>
                  <span class="u-w-50">Инвалиды</span>
                  <span class="u-fl-r u-ta-r u-w-50">Бесплатно</span>
                </li>
                <li class="result">
                  <span class="u-w-50">Итого:</span>
                  <span class="u-fl-r u-ta-r u-w-50">500 руб.</span>
                </li>
                <!-- если не выбран ни один из вариантов то для result добавляется класс disabled, и она станет серая -->
                <!--
                  <li class="result disabled">
                    <span class="u-w-50">Итого:</span>
                    <span class="u-fl-r u-ta-r u-w-50">500 руб.</span>
                  </li>
                -->
              </ul>
              <button class="c-btn t-btn--info" type="submit">Перейти к оплате</button>
              <!-- если не выбран ни один из вариантов то для кнопки добавляется атрибут disabled, и она станет серая -->
              <!-- <button class="c-btn t-btn--info" type="submit" disabled>Перейти к оплате</button> -->
            </form>
          </div>
        </div>
        <!-- / dropdown -->
      </div>
      <br>
      <div>
        События 7 января
      </div>
    </div> <!-- / container -->
  </main>
//= partials/_footer.html
