//= partials/_header.html
//= partials/_sidebar.html
  <main>
    <div class="container container--wide container--sh">
      <section class="o-block o-block--banner t-block--lead t-block--visit">
        <div class="o-block__footer">
          <h2 class="c-heading c-heading--huge t-heading--contrast">Посещение</h2>
        </div>
      </section>
      <nav class="u-menu-container">
        <ul class="c-menu c-menu--hor js-menu-scroll">
          <li class="menu__item"><a href="#1" class="menu__link">Часы работы</a></li>
          <li class="menu__item"><a href="#2" class="menu__link">Контакты</a></li>
          <li class="menu__item"><a href="#3" class="menu__link">Адрес</a></li>
          <li class="menu__item"><a href="#4" class="menu__link">Билеты</a></li>
          <li class="menu__item"><a href="#5" class="menu__link">Услуги</a></li>
          <li class="menu__item"><a href="#6" class="menu__link">Дополнительно</a></li>
        </ul>
      </nav>
      <!-- double text -->
      <div class="u-flex">
        <section class="o-text u-50">
          <h3 class="c-heading c-heading--big" id="1">Часы работы</h3>
          <table class="c-table">
            <tr>
              <td><div class="c-headring--table">Пн</div></td>
              <td>Выходной</td>
            </tr>
            <tr>
              <td><div class="c-headring--table">Вт-Сб</div></td>
              <td>10:00-22:00</td>
            </tr>
            <tr>
              <td><div class="c-headring--table">Вс</div></td>
              <td>9:00-20:00</td>
            </tr>
          </table>
        </section>
        <section class="o-text u-50">
          <h3 class="c-heading c-heading--big" id="2">Контакты</h3>
          <table class="c-table">
            <tr>
              <td><div class="c-headring--table">Телефон</div></td>
              <td>+7 495 570-47-58</td>
            </tr>
            <tr>
              <td><div class="c-headring--table">Факс</div></td>
              <td>+7 495 570-47-59</td>
            </tr>
            <tr>
              <td><div class="c-headring--table">E-mail</div></td>
              <td><a href="mailto:hello@mri.ru">hello@mri.ru</a></td>
            </tr>
          </table>
        </section>
      </div>
      <!-- / double text -->
      <section class="o-text">
        <h3 class="c-heading c-heading--big" id="3">Адрес</h3>
        <address class="address">Москва, Ленинградский проспект, д. 15, стр. 1</address>

        <div class="o-flex-1-3">
          <div class="u-70">
            <div class="map">
              <img class="c-img c-img--rounded" src="img/demo/map.png" alt="Карта">
            </div>
          </div>
          <div class="u-flex u-30">
            <section class="c-article u-50">
              <h4 class="c-heading c-heading--mid">Как добраться</h4>
              <p>От станции «Белорусская» до остановки «28-я и 29-я линии»:</p>
              <ul class="c-list">
                <li>автобусы 6 и 128</li>
                <li>трамвай 6</li>
                <li>маршрутные такси 6, 30, 44, 62, 120, 183, 306, 309, 346, 350, 690</li>
              </ul>
            </section>
            <section class="c-article u-50">
              <h4 class="c-heading c-heading--mid">Парковка</h4>
              <p>На территории музея есть парковка на 40 мест.</p>
              <p>Стоимость: 40 рублей в час</p>
            </section>
          </div>
        </div>
      </section>
      <!-- double text -->
      <div class="u-flex">
        <section class="o-text u-50">
          <h3 class="c-heading c-heading--big" id="4">Билеты</h3>
          <table class="c-table c-table--bordered">
            <tr>
              <td><div class="c-headring--table">Взрослые</div></td>
              <td class="u-ta-r">300 руб.</td>
            </tr>
            <tr>
              <td><div class="c-headring--table">Студенты очных отделений вузов РФ</div></td>
              <td class="u-ta-r">150 руб.</td>
            </tr>
            <tr>
              <td><div class="c-headring--table">Школьники</div></td>
              <td class="u-ta-r">100 руб.</td>
            </tr>
            <tr>
              <td><div class="c-headring--table">Пенсионеры</div></td>
              <td class="u-ta-r">100 руб.</td>
            </tr>
            <tr>
              <td><div class="c-headring--table">Инвалиды I и II групп</div></td>
              <td class="u-ta-r">Бесплатно</td>
            </tr>
          </table>
        </section>
        <section class="o-text u-50">
          <h3 class="c-heading c-heading--big">Абонемент</h3>
          <table class="c-table c-table--bordered">
            <tr>
              <td>
                <div class="c-headring--table">Годовой абонемент</div>
                <p class="t-small">Даёт право на неограниченное посещение выставок, мероприятий и образовательных программ музея в течение года (если не указано обратное), а также скидку 15% в магазине музея</p>
              </td>
              <td class="u-nowrap u-ta-r">7000 руб.</td>
            </tr>
          </table>
        </section>
      </div>
      <!-- / double text -->
      <section class="o-text">
        <h3 class="c-heading c-heading--big" id="5">Услуги</h3>
        <article class="c-article">
          <div class="u-flex">
            <div class="u-50">
              <img class="c-img c-img--rounded" src="img/demo/visit.jpg" alt="">
            </div>
            <div class="u-50">
              <h4 class="c-heading c-heading--mid">Магазин</h4>
              <p>Сергей Авакян, генеральный директор ювелирного дома «РОССИЯ»: «В холдинг входят пять компаний. Это всем известный завод «Адамант», творческая компания «Сирин», которая установила памятник Святому Владимиру в нашем городе, это две розничные ювелирные сети.</p>
            </div>
          </div>
        </article>
        <article class="c-article">
          <div class="u-flex">
            <div class="u-50">
              <img class="c-img c-img--rounded" src="img/demo/1437_BolshevikInternal_Basement_Grey.jpg" alt="">
            </div>
            <div class="u-50">
              <h4 class="c-heading c-heading--mid">Кафе</h4>
              <p>Диана Еднерал, директор по маркетингу ювелирного дома «РОССИЯ»: «Россия — это название и славное, и звучное, и ответственное. Будет ряд вопросов, но мы к ним готовы. Почему «Россия», почему мы решили объединить наши компании. И не только компании».</p>
            </div>
          </div>
        </article>
      </section>
      <section class="o-text">
        <h3 class="c-heading c-heading--big" id="6">Дополнительно</h3>
        <div class="u-flex">
          <article class="c-article u-50">
            <h4 class="c-heading c-heading--mid">Доступность</h4>
            <p>Музей полностью оборудован для посетителей с ограниченными возможностями: в здании есть просторный лифт, а у входа пандус.</p>
          </article>
          <article class="c-article u-50">
            <h4 class="c-heading c-heading--mid">Фотосъемка</h4>
            <p>В нашем музее не разрешены фото- и видеосъемка.</p>
          </article>
        </div>
      </section>
    </div> <!-- / container -->
  </main>
//= partials/_footer.html
