$font-ext: woff eot svg ttf;

@include font-face('DinText', '../fonts/DinText-Thin', 100, $file-formats: $font-ext);
@include font-face('DinText', '../fonts/DinText-Light', 300, $file-formats: $font-ext);
@include font-face('DinText', '../fonts/DinText-Medium', 500, $file-formats: $font-ext);

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  color: c('front');
  font: {
    family: $font-primary;
    size: rem(15);
    weight: 300;
  }

  line-height: 1.5;

  @include mappy-bp(md) {
    font-size: rem(17);
  }
}

a {
  transition: $base-transition;
  color: inherit;

  &:hover,
  &:active {
    color: c('info');
  }
}

p {
  margin: 0 0 $base-space;
}

address {
  font-style: normal;
}

hr {
  width: 100%;
  margin: 0 0 $mid-space;
  border-bottom: $base-border;
}

blockquote {
  margin: $base-space 0;
  padding: $mid-space $huge-space;
  border: $base-border;
  border-radius: $base-radius;

  &::before {
    margin-top: 0.3em;
    margin-left: -2em;
    float: left;
    content: url('../img/icons/q.png');
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  cite {
    font: normal bold rem(14) $font-primary;
  }
}

.t-small {
  font-size: rem(15);
}

.c-small-text {
  font-size: rem(10);

  &--license {
    margin: $base-space 0;

    a {
      color: c('info');
      text-decoration: underline;
    }
  }

  &--help {
    margin-top: $base-space;
    color: c('neutral');
  }
}

.c-list {
  margin-left: $mid-space;
  list-style: none;

  li {
    margin-top: $small-space;
    margin-bottom: $small-space;
  }

  li::before {
    margin-left: -$mid-space;
    padding-right: 0.6em;
    content: '—';
  }
}

.c-img {
  max-width: 100%;
  margin: $small-space 0;

  &--rounded {
    border-radius: $base-radius;
  }
}

.c-article {
  margin: 0 0 $big-space;
}

.c-table {
  width: 100%;

  td {
    padding: $small-space $small-space  $small-space 0;
    vertical-align: top;
  }

  .td--small {
    width: 30%;
  }

  .td--big {
    width: 70%;
  }
}

.c-table--bordered {
  border-top: $base-border;

  tr:not(:last-child) {
    border-bottom: $base-border;
  }
}

.u-nowrap {
  white-space: nowrap;
}

.u-ta-r {
  text-align: right;
}

.u-w-50 {
  width: 50%;
}

.u-fl-l {
  float: left;
}

.u-fl-r {
  float: right;
}

.result {
  @extend %block-text;
  font-size: rem(22);
  margin-bottom: $base-space;
  color: c('info');

  &.disabled {
    color: c('neutral');
  }
}
